[2017-03-21 06:02] gund opened #1 "[Bug] Lifecycle hooks run even if they do not exist"
Lifecycle hooks run even if they do not exist on instantiated dynamic component causing `TypeError`.

Should be checked if particular function exists before calling.

[2017-04-04 05:51] gund commented on #1
Fix landed in v1.0.0

[2017-04-04 05:51] #1 closed

[2017-04-11 13:20] hpawe01 opened #9 "Failed to compile: Can't resolve 'tslib'"
Hello,
your Package looks promising, but I cannot get it to work.
When I use this package with the current angular version (either 4.0.0 or 4.0.1), I get the following error message:

[code]

Steps to reproduce using Angular CLI:
1. `ng new component-test`
2. `cd component-test`
3. `npm install --save ng-dynamic-component`
4. In `src/app/app.module.ts` add import-statement (`import { DynamicModule

[2017-04-11 15:11] richardsengers commented on #9
Same problem here

[2017-04-11 18:27] gund commented on #9
Well you just need to install npm module `tslib` and add to your tsconfig file `importHelpers: true`

[2017-04-12 15:06] hpawe01 commented on #9
Thanks, that worked for me. I only needed to install `tslib`.

Maybe you can add this package to the `peerDependencies` section in your `package.json` file? That way the user would be notified when installing the package.

[2017-04-12 15:06] #9 closed

[2017-04-12 15:48] gund commented on #9
Yes, that is good point. Will add that to peers. Cheers =)

[2017-05-05 21:26] st-clair-clarke opened #14 "injecting an id dynamically"
Hi,
Your offering is very interesting. I am just trying to use it. I came upon the following issue as explained below:

I have the following component I would like to dynamically insert in my SPA - LumpCompnent - that has the following declartive definition:

`<epimss-lump #lumpCmpRef></epimss-lump>`

How do I insert the angular4 id #lumpCmpRef dynamically using ng-dynamic-component?

Thanks

[2017-05-05 21:41] gund commented on #14
Hi,
First of you need to register components you want to inject:
[code]

And then just pass that `EpimssLumpComponent` class into `ndc-dynamic`'s `[ndcDynamicComponent]` input or `[ngComponentOutlet]` directive (whatever you prefer more).

For example:
[code]

NOTE: If you want to pass component from local template variable you need to account that it is already an instance of component and not a

[2017-05-06 01:36] st-clair-clarke commented on #14
Thanks for your quick reply Gund.
I have manged to create the dynamic component LumpComponent and display it. My question is 'How do I insert the local template variable #localCmpRef into the dynamically created component'. Instantiating LumpComponent is by passing it to DynamicModule.withComponents(). That I understand. But it does not say how I can reference a template variable from the componen

[2017-05-06 08:39] gund commented on #14
Regarding your original question, I'm not sure but you can try something to pass reference through inputs like this:
[code]

Regarding the error that might look like a bug. Can you please create a plunkr so I can have a look?

Thanks

[2017-05-09 21:11] greenkeeper[bot] opened #15 "An in-range update of rxjs is breaking the build 🚨"
## Version **5.3.3** of [rxjs](https://github.com/ReactiveX/RxJS) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2Frxjs-5.3.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rxjs
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-05-10 06:00] gund commented on #15
Resolved

[2017-05-10 06:00] #15 closed

[2017-05-11 00:03] greenkeeper[bot] opened #17 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **4.1.2** of [@angular/compiler](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2F%40angular%2Fcompiler-4.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </

[2017-05-11 04:33] gund commented on #17
Angular deps will be updated all together manually.

[2017-05-11 04:33] #17 closed

[2017-05-15 22:14] greenkeeper[bot] opened #18 "An in-range update of uglifyjs is breaking the build 🚨"
## Version **2.4.11** of [uglifyjs](https://www.npmjs.com/package/uglifyjs) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2Fuglifyjs-2.4.11">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uglifyjs
    </td>
  </tr>
  <tr>
    <th align=

[2017-05-18 00:36] greenkeeper[bot] opened #20 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **4.1.3** of [@angular/compiler](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2F%40angular%2Fcompiler-4.1.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </

[2017-05-22 19:26] dmanjava opened #21 "Cannot find Dynamic Module"
Hello,

 I used you angular 4 component and it works just fine with an angular 4 cli project .  But we have an angular cli 2 application and app,module.ts throws a compile time error  of 'cannot load module Dynamic Module'  I am using version ^0.0.1 as per your instructions. Please let me know how to get around this..

[2017-05-23 01:02] greenkeeper[bot] opened #22 "An in-range update of tslint is breaking the build 🚨"
## Version **5.3.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2Ftslint-5.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-05-23 09:00] gund commented on #21
That's weird, it was working fine with version 2...
Can you please provide plnkr?

[2017-05-23 13:30] mcanfield opened #23 "How to access inputs in the dynamic component passed from the creating component"
Hiya! Quick questions, the documentation only shows how to set inputs/outputs, but not how to use them on the dynamically rendered component. For example given the following component:

[code]

How would I access the input values from within `MyDynamicComponent1`? Or am I misunderstanding the purpose of the inputs/outputs?

[code]

[2017-05-23 13:52] dmanjava commented on #21
You for your prompt response yes I will put one together today and send it
over to you.

On May 23, 2017 3:00 AM, "Alex Malkevich" <notifications@github.com> wrote:

[2017-05-23 14:15] gund commented on #23
Hi! Good question. I just thought it is obvious =)
It's actually standard angular @Inputs/@Outputs on the dynamic components.
This lib will make shure to bind them like the angular does and also trigger all relevant life cycle hooks.
So from dynamic component point of view you do not do anything special at all (no magic) =)

[2017-05-23 22:12] mcanfield commented on #23
@gund thanks for the quick reply! So I now understand how the `inputs` work, but am still at a loss for grasping how `outputs` do? I'm used to those being event emitters, but the source code looks like it just subscribes to changes on something... I'm too unfamiliar with inner workings to grasp complete comprehension.

Could you modify this [http://plnkr.co/edit/wdYufHejtiDCMZldyKjc](http://plnkr.

[2017-05-24 06:21] gund commented on #23
Sure, I have made change to plunkr here: http://plnkr.co/edit/DA5yPFVLNBq50ton4gk9

Basically your `@Outputs` are ordinary Event Emitters (`Observables`) and the lib will internally subscribe to them and dispatch events to the functions you provided in `[ndcDynamicOutputs]`.

[2017-05-24 16:13] mcanfield commented on #23
Ah, great! The thought occurred to me late yesterday to assign actual `EventEmitter`, but I never got around to trying it that way. Very clear now. Thanks so much!

[2017-05-24 16:13] #23 closed

[2017-05-24 17:42] gund commented on #23
No problem. I will consider adding an example to the docs =)
Cheers!

[2017-06-02 20:15] mcanfield opened #24 "'TypeError: Cannot convert undefined or null to object' when inputs or outputs are not defined"
Scenario:

An array of mixed types representing components to render with `ndc-dynamic` may not contain an inputs/outputs key. As a result dynamic directive will throw `TypeError: Cannot convert undefined or null to object`:

[code]

Ideally the calling code doesn't need to provide an empty object to the `ndcDynamic*` directives. The directive code could be made robust enough to handle inputs/outp

[2017-06-02 20:46] #24 closed

[2017-06-02 20:59] gund commented on #22
Merged

[2017-06-02 20:59] #22 closed

[2017-06-02 21:33] gund commented on #18
Fixed and merged

[2017-06-02 21:33] #18 closed

[2017-06-02 21:39] gund commented on #20
Angular libs updating only all together

[2017-06-02 21:39] #20 closed

[2017-06-02 22:22] gund opened #27 "Align with Angular Package Format"
According to the [Angular Package Format](https://goo.gl/AMOU5G) V4:

- [x] Replace current module with Flat ESM ES5
- [x] Create new Flat ESM ES2015

[2017-06-06 17:50] #27 closed

[2017-06-14 23:38] greenkeeper[bot] opened #30 "An in-range update of @angular/compiler-cli is breaking the build 🚨"
## Version **4.2.2** of [@angular/compiler-cli](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2F%40angular%2Fcompiler-cli-4.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler-cli

[2017-06-15 04:35] greenkeeper[bot] opened #31 "An in-range update of @angular/core is breaking the build 🚨"
## Version **4.2.2** of [@angular/core](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2F%40angular%2Fcore-4.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/core
    </td>
  </tr>
  <tr>

[2017-06-15 18:47] gund commented on #30
Do not update angular packages separately

[2017-06-15 18:47] #30 closed

[2017-06-15 18:47] gund commented on #31
Do not update angular packages separately

[2017-06-15 18:47] #31 closed

[2017-06-16 19:27] greenkeeper[bot] opened #32 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **4.2.3** of [@angular/compiler](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2F%40angular%2Fcompiler-4.2.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </

[2017-06-16 22:51] #32 closed

[2017-06-22 01:20] greenkeeper[bot] opened #33 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **4.2.4** of [@angular/compiler](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2F%40angular%2Fcompiler-4.2.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </

[2017-06-22 01:24] greenkeeper[bot] opened #34 "An in-range update of @angular/compiler-cli is breaking the build 🚨"
## Version **4.2.4** of [@angular/compiler-cli](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2F%40angular%2Fcompiler-cli-4.2.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler-cli

[2017-06-22 01:27] greenkeeper[bot] opened #35 "An in-range update of @angular/core is breaking the build 🚨"
## Version **4.2.4** of [@angular/core](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2F%40angular%2Fcore-4.2.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/core
    </td>
  </tr>
  <tr>

[2017-06-23 17:18] #33 closed

[2017-06-23 17:18] #34 closed

[2017-06-23 17:18] #35 closed

[2017-06-30 01:40] greenkeeper[bot] opened #36 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **4.2.5** of [@angular/compiler](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2F%40angular%2Fcompiler-4.2.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </

[2017-06-30 01:47] greenkeeper[bot] opened #37 "An in-range update of @angular/compiler-cli is breaking the build 🚨"
## Version **4.2.5** of [@angular/compiler-cli](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/gund/ng-dynamic-component/compare/greenkeeper%2F%40angular%2Fcompiler-cli-4.2.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler-cli

[2017-06-30 19:23] #36 closed

[2017-06-30 19:23] #37 closed

[2017-07-17 22:35] dmanjava commented on #21
I just upgraded to Angular 4 and it works so not working with Angular 2 problem.

[2017-07-17 22:35] #21 closed

[2017-07-21 20:16] locinus opened #41 "Passing node content via ndcDynamicContent"
Hi !
Inputs and outputs work great on my dynanic elements! However, I can't get to pass the content of the node to the dynamic component.

Here's my context: I've developped a TrialComponent, aimed at trying different look&feel of various component, by switching them dynamically (via a button next to the TrialComponent). The simplified structure is:

**Application component offering some trial on

[2017-07-22 04:56] gund commented on #41
We to pass the content you need to specify where that content will go in the component (in your case in `comp-trial` and in `dyn-comp1`).

You can do that by placing `<ng-content></ng-content>`.
This technique is called Content Projection.

But since you have to pass that content from your `comp-trial` you can try to create a local template variable on that content, and then forward it to dynamic

[2017-07-22 22:53] locinus commented on #41
Thanks for a quick reply !

Nice trick to create the local variable on content. However, adapting my code that way (and considering you meant to write:

), I get the following error:

I don't know the [[ ]] syntax, so I tried with

No error this time, but the content does not appear in my final component (dyn-comp1), even though it does appear in the added not-yet-hidden ng-content node of the Tri

[2017-07-23 03:58] gund commented on #41
I suspect that the local variable might be of type `TemplateRef`. In that case you can try to access property `nativeElement` to pass into `ndcDynamicContent`.

Also in `comp-trial` you can try to query-select `ng-content` by that local template variable name and console log it on `AfterContentInit` hook to see exactly what you get.

This was always tricky part to forward real content that way and

[2017-07-23 21:49] locinus commented on #41
Ok, so after trying few things, it seems that a `ng-content` node is not a valid node to pass to `ndcDynamicContent`. So I wrapped it in another proper node, and it works fine now.

My working code, for the archives:

**Trial Component**

	@Component({
		selector: 'comp-trial',
		template: '
		  <div style="display:none">
			<span #mycontent>
			  <ng-content></ng-content>
			</span>
		  </div>

[2017-07-23 21:49] #41 closed

[2017-07-24 04:03] gund commented on #41
Great!
Thanks for sharing the solution, very helpful 👍

[2017-07-28 15:38] elclanrs opened #42 "Doesn't work with ngComponentOutlet"
Any ideas why this won't work?

[code]

Works fine if I use `<ndc-dynamic>` and `[ndcDynamicComponent]`. I also tried with a `div` instead of `ng-container`, but not luck...

[2017-07-28 15:59] gund commented on #42
This is how you can use it:
[code]

[2017-07-28 16:35] elclanrs commented on #42
@gund, thanks for the quick reply, that worked great! I have another question related to this. I thought that using `ngComponentOutlet` I'd be able to use `entryComponents` instead of `DynamicModule.withComponent`, but it didn't work as I expected. This is what I did:

[code]

But I couldn't get it working. I want to have a smooth transition for when Angular natively supports inputs/outputs with `

[2017-07-28 17:34] gund commented on #42
It should work either by passing components to `DynamicModule.withComponent` or to `entryComponents`.
Both methods are telling Angular to produce component factories.

And as far as I know angular team does not currently consider implementing inputs/outputs, although it might change in the future like with http interceptors...

[2017-07-28 19:45] #42 closed

[2017-08-09 12:26] bokzor opened #43 "@Inputs with ngComponentOutlet"
Apparently the inputs are undefined with this syntax.

[code]

But It's working with `<ndc-dynamic>`

[2017-08-09 13:09] gund commented on #43
Please have a look at [this issue](https://github.com/gund/ng-dynamic-component/issues/42).

Basically it won't work with the * syntax.

I'm thinking about the possibility of making * syntax to work but as of now you should not use it.

[2017-08-10 18:46] pukuotas opened #44 "How to register in system.config.js and about tslib"
Is it possible to register this component in system.config.js ?  And what is tslib and how to get it?

[2017-08-10 19:54] gund commented on #44
Sure, you just need to register in your map configuration this library and point to UMD just file (you can use https://unpkg.com/ to extract directly from npm repository).

Regarding tslib you need to get it from npm as well and point from your systemjs config maps (probably also possible via unpkg).

[2017-08-11 13:47] #43 closed

[2017-08-11 13:55] gund commented on #43
Hey @bokzor!

I've figured out how to add support for this syntax.

Now you can use * syntax with this lib since [v1.1.0](https://github.com/gund/ng-dynamic-component/releases/tag/v1.1.0) like so:
[code]

[2017-08-15 04:46] tinyg opened #48 "Providers and Services"
Hi,

I was wondering if you could provide an example of how to use ndcDynamicProviders to add extra providers to the dynamic loading. I'm trying to load a component which requires a service but I get an error "Can't resolve all parameters for TabComponent: (?)". The service is local to the module that TabComponent is defined in (and the dynamic host resides in the same module) and, if I statically

[2017-08-15 04:52] tinyg commented on #48
My TabComponent class looks like:

`@Component({
  selector: 'sncr-tab',
  templateUrl: './tab.component.html',
  styleUrls: ['./tab.component.css']
})
export class TabComponent implements OnInit {

  @Input()
  name: string;

  items = [];

  constructor(private _layoutConfig: LayoutService) {
  }
  ngOnInit() {
  }
}`

Layout Service looks like:

`@Injectable()
export class LayoutService {

  la

[2017-08-15 05:06] gund commented on #48
Yes you are right, providers should be an array of ordinary providers you would pass usually to NgModule.

So you can have it like so: `[LayoutService]`.
Also you should be aware that `ndcDynamicProviders` is an input for the `ndc-dynamic` component and so if you are using `ngComponentOutlet` directive it would work, you than should use `ngComponentOutletInjector` and construct resolved injector f

[2017-08-15 05:11] tinyg commented on #48
Hmm - i tried that but didn't have much success...

My template is:

`
<gridster [options]="gridsterOptions">
  <gridster-item [item]="item" *ngFor="let item of layout.items">
    <div class="gridster-item-content">
      <ndc-dynamic [ndcDynamicComponent]="item.component.component"
                   [ndcDynamicInputs]="item.component.inputs"
                   [ndcDynamicOutputs]="item.component

[2017-08-15 05:13] tinyg commented on #48
If i take the constructor parameter away from TabComponent then it "works" (ie i see an empty tabbed area) so its definitely the service injection thats causing the issue...

[2017-08-15 06:27] gund commented on #48
That's really weird.
Can you please create a plunkr with this issue so I can have a look?

[2017-08-15 06:34] tinyg commented on #48
OK will do

[2017-08-15 07:29] tinyg commented on #48
Hi

So i haven't used plunker before and I cant seem to get any DI to work there (dynamically or statically). Here's the plunkr i created: https://plnkr.co/edit/oUAzfPeujCoMapgLgXGe?p=preview

Should be basically right but i'm obviously missing something....

Cheers,
Chris

[2017-08-15 07:50] tinyg commented on #48
Humm - ok - i got it to work in plunker... a couple of syntax errors and the order of definitions was apparently affecting things.

I've updated the plunkr to the new version.... and i didn't need to add the dynamic provider, it just came through as a regular service... so not sure what i'm doing wrong in my more complex example...

[2017-08-15 12:59] gund commented on #48
If you provide your service in the root module - it will be available all across your application, even in dynamically created components (because their provider inherited from the root one).

Just check in your project where do you provide your service (maybe you forgot to provide it in the root module).

[2017-08-16 07:44] tinyg commented on #48
Hm - i have a bit more information (although still not a failing Plunkr).

I'm trying to build an "dashboard" style app which has a runtime-generated layout so I have a gridster container which uses ndc-dynamic to load the items in the grid. Each item in the grid can be a Tabbed panel where each tab also uses ndc-dynamic to load the tab content.

Both components use a service (LayoutService) to ge

[2017-08-16 11:33] tinyg commented on #48
Ok - i've managed to reproduce it in the plunkr (same one).
I'm not sure whether its just an Angular / typescript restriction or an issue for the dynamic component.
The problem looks like a cyclic dependency between the service and the components. If you look at the plunkr, you'll see that the TestService is providing the component constructor that each component is going to host, changing the ord

[2017-08-16 16:18] gund commented on #48
If you are using cyclical dependencies you will have such issues because at the time script get's executed the pieces of injection were still `undefined` and so Angular was unable to resolve the DI.

The golden rule here is to understand in what order you need to put your dependencies to make it work.
There are 2 types of dependencies you can have: so to speak "compile" time (it is when JS is eval

[2017-08-16 16:24] gund commented on #48
BTW if you are using Webpack in your project you can just put import statement of your service on top of others and it will do the trick.

They are tracking issue regarding it [over here](https://github.com/webpack/webpack/issues/1788) however it's closed but not resolved =(

Also I heard that Rollup is able to correctly resolve cyclical dependencies by putting code in correct order but I never tr

[2017-08-16 16:27] gund commented on #48
And one more, I also published a sample problem example [here](https://gist.github.com/gund/fa244bfef5024ebe2aba72d31d565cb0), you can see there people suggesting some really robust (also quite complex) workarounds.

[2017-08-16 17:28] gund commented on #48
Regarding Rollup I just tested it out of curiosity and nope - it also does not understand how to solve this issue by default: https://github.com/gund/test-cyclic-deps

[2017-08-18 14:24] tyteen4a03 opened #50 "Example usage within for loops"
Is there an example for usages of this module within an `*ngFor`?

For example:

[code]

[2017-08-19 13:04] gund commented on #50
You just need to pass inputs and outputs as objects:
[code]

This should work but I'm not sure about outputs as Angular might not allow you to use inline anonymous functions inside expressions but as of now this is the only possible way to forward variable from your template to output handler.

So give it a try and than we will see =)

[2017-09-15 08:13] roscopeeco opened #55 "Access to component reference"
Hello
I've read the documentation but there is nothing there about getting access to the dynamic component reference...can this be done and if so how?
thanks
Ross

[2017-09-15 18:52] locinus opened #56 "Destruction of dynamic components"
Hi Alex !

Today I'm wondering how the destruction of the dynamic components are handled; so I know when ngOnDestroy will be called.
More than that, I would need a way to be able to force the destruction of a dynamic component: I have a panel in which I inject a component dynamically via your tool, and then I hide the panel from the interface, but what I would actually need is to effectively destr

[2017-09-16 01:36] locinus commented on #55
Hi Ross
I've been looking for that myself, and here's a solution using ViewChild on the ndc component itself::

[code]

Works with me, but maybe the author will have a better suggestion.

[2017-09-16 08:33] gund commented on #55
If you are using `ndc-dynamic` component to create your dynamic components then you can access `componentRef` public property. It is of type `ComponentRef` so you need to get `instance` property of that one.
Example in HTML:
[code]
Example in TS:
[code]

[2017-09-16 08:41] gund commented on #56
According to the [spec](https://github.com/gund/ng-dynamic-component/blob/f6e4310ebb9024fcf25508e3fc235e2344406ab3/src/dynamic/dynamic.component.spec.ts#L61) any time you assign `ndcDynamicComponent` input property to null (or undefined) it will destroy created component and Angular itself will take care to call `ngOnDestroy` hook.

[2017-09-16 11:04] roscopeeco commented on #55
Thanks to both of you. I've used @viewchild and @viewchildren but didn't think I could use it with dynamic components...wrong Assumption!
Cheers
Ross

[2017-09-16 11:04] #55 closed

[2017-09-16 14:59] gund commented on #55
@roscopeeco your assumption was not wrong - you cannot query for dynamically created components using  @ViewChild and @ViewChildren, but what you can do is get access to the static component that creates dynamic one and get it's reference from there (that is what me and @locinus posted above)

[2017-09-16 22:24] locinus commented on #56
Indeed !
Thanks for a quick reply!

[2017-09-17 04:08] #56 closed

[2017-09-18 13:07] lckj210 opened #59 "e"

[2017-09-18 13:18] gund commented on #59
This is pretty descriptive issue =)
Could you provide some more details please?

[2017-09-18 13:20] lckj210 commented on #59
Sorry. I was having problem with Github. Didn't know I posted an issue. Will be closing it now.

[2017-09-18 13:20] #59 closed

[2017-09-19 16:53] ryanbonial opened #60 "2 way data binding with ngModel"
Can this be used with a component that has ngModel 2 way binding? It doesn't seem to work when ngModel is added to the inputs and outputs or when ngModel is added to the inputs and ngModelChange is added to the outputs.

Plnkr example:
[http://plnkr.co/edit/DY4delkqeGyl3ElnsRJs?p=preview](http://plnkr.co/edit/DY4delkqeGyl3ElnsRJs?p=preview)

[2017-09-19 18:10] gund commented on #60
You have to keep in mind that dynamically created components will not have inputs and outputs to be attached in the DOM and as a consequence you ngModel input wont tell Angular to bind ngModel to the corresponding value accessor - you have to take care about it manually.

So I added 1 more input `ngModel` and 1 output `ngModelChange` in order to simulate what angular will do.

Secondly if you want

[2017-09-19 19:56] ryanbonial commented on #60
Thanks for the explanation and updated plunkr. It is a shame that ngModel and ngModelChange have to be implemented manually. I can add the additional Input() and Output() for my own components, but it will be tougher to use 3rd party components that use ngModel.

[2017-09-19 19:56] #60 closed

[2017-09-19 20:34] gund commented on #60
@ryanbonial you can always wrap those components in your own component that will proxy `[(ngModel)]` through the Input and Output.

[2017-09-20 14:57] roscopeeco opened #61 "No ErrorHandler. Is platform module (BrowserModule) included? ; Zone: <root> ; Task: Promise.then ; Value: Error: No ErrorHandler. Is platform module (BrowserModule) included?"
Hello

I am getting the message:

My app.module.ts is as follows:

import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { FormsModule } from '@angular/forms';
import { HttpModule } from '@angular/http';

import { AppComponent } from './app.component';

import { AlertDangerComponent } from 'components/alert-danger/alert-danger.component';
impor

[2017-09-20 14:59] #61 closed

[2017-09-21 12:07] levinzz opened #62 "Calling function from parent component"
How would I go about calling a function from the parent, something like this :

[code]

One workaround I can think of, would be by changing an input value, thus triggering Angular change detection and implementing ngOnChanges in the child component but I don't think it's really nice.

[2017-09-21 12:17] gund commented on #62
I believe the best approach will be to get direct reference to your dynamic component and simply call method on it.
Please refer to [this issue](https://github.com/gund/ng-dynamic-component/issues/55) on how to do it.

[2017-09-21 13:33] levinzz commented on #62
I changed :
[code]
To :
[code]

Then in the corresponding ts component file, I added :
[code]
but I get : `Cannot read property 'instance' of undefined`

It looks like the selector doesn't find any DynamicComponent.

**However:**
I can select the item when I add a custom selector id : #myContent in the html, which solves the problem.

Thank you very much !

[2017-09-21 13:33] #62 closed

[2017-09-26 03:18] sahyun1 opened #63 "can't bind to ndcDynamicComponent"
Hi,

I'm trying to use this but I get the following error
Uncaught (in promise): Error: Template parse errors: Can't bind to 'ndcDynamicComponent' since it isn't a known property of 'ndc-dynamic'.

I've imported this in app.module.ts along with components I'd like to use.
DynamicModule.withComponents([DateAnswerComponent,TextAnswerComponent]).

I'm using it with ionic 3 if that matters.

could any

[2017-10-03 08:17] maxfahl opened #66 "Does this module support AoT"
As the subject reads; does this module support AoT compilation?

[2017-10-03 10:10] gund commented on #66
Surely it does.
Go ahead and try it out =)

[2017-10-03 13:23] maxfahl commented on #66
Perfect. I'm really happy I found this. Seems like the perfect fit for me and our project.

[2017-10-03 13:23] #66 closed

[2017-10-06 14:30] ybrodsky opened #68 "Change component on the fly"
Say you had a select. And onChange you call a function that will update the referenced component.
So, depending on the selection you want to load one component or another.

Is this possible? Some workaround? tried to assign something else to my variable `currentForm` but didn't work.

`<ndc-dynamic [ndcDynamicComponent]="currentForm"></ndc-dynamic>`

[2017-10-06 18:17] gund commented on #68
If your goal is to change component type to render another component that is [totally possible](https://github.com/gund/ng-dynamic-component/blob/master/src/dynamic/dynamic.component.spec.ts#L73) you just need to update the variable passed to `ndcDynamicComponent` input.

But you have to make sure that change detection is triggered in case your parent components are in `OnPush` mode.

[2017-10-06 18:42] ybrodsky commented on #68
I tried doing just that and didn't work.

Could you elaborate a little bit on the change detection, or point me in the right direction? This is literally my 2nd day with Angular

[2017-10-06 19:23] gund commented on #68
Well if you did not explicitly change your change detection for component then there is not point in worrying about that - it should just work.
If you can provide plunkr of what you trying to do it will be more helpful and I then can better understand and help you achieve what you want.

[2017-10-19 18:01] elclanrs opened #69 "Support Angular 5"
I tried in Angular 5.0.0-rc.3 and I get an error the regarding the [OpaqueToken](https://angular.io/api/core/OpaqueToken) export which is deprecated.

According to https://github.com/angular/angular/issues/14427 you may just need replace [these](https://github.com/gund/ng-dynamic-component/search?utf8=%E2%9C%93&q=opaquetoken&type=) with `InjectionToken` instead.

[2017-10-19 20:35] gund commented on #69
Yes, I will prepare an upgraded version very soon.

[2017-10-22 18:40] gund commented on #69
Hey there!

Just published new next version of lib under `next` tag in NPM so you can go ahead and try it out:
[code]

All changes are currently in separate `next` branch - until Angular 5 will be officially released.

[2017-11-02 14:34] cankayacan commented on #69
https://github.com/cankayacan/ng5-dynamic-component-test

Getting this error:

[2017-11-02 14:37] nlgi commented on #69
Hi!

There is another bug with official release of Angular 5.

`ERROR Error: Uncaught (in promise): Error: Unexpected value '[object Object]' imported by the module 'ImmeubleModule'. Please add a @NgModule annotation.`

Indeed in dynamic.module.d.ts:

`import { ComponentInjector } from './component-injector';
import { ModuleWithProviders, Type } from '@angular/core';
export declare class DynamicMo

[2017-11-03 10:31] gund commented on #69
Hey, you will not see any annotations in the `*.d.ts` files - those are just for typescript compiler not runtime.
I guess this problem happens because I build it with RC5 and you are trying with actual release v5.

I will publish stable version with v5 so you can try it

[2017-11-06 09:12] Spanja commented on #69
Hello,

I still get the error message ERROR Error: Unexpected value '[object Object]' imported by the module 'MonthlyBonusModule'. Please add a @NgModule annotation.

Using ng5 - dynamic 2.0.1 & cli 1.5

[2017-11-06 10:39] gund commented on #69
Hmm... I will try on a sample app later.
Thanks for reporting, reopening issue.

[2017-11-06 15:30] lukaszbachman commented on #69
I ran into the same issue today using CLI 1.5, NG 2.1 and ng-dynamic-component 2.0.1, like all the others.
I compared the generated JS bundle for ng-dynamic-component and another open source library which is not triggering exceptions just to find that the generated class does contain additional metadata.

`
TooltipModule.decorators = [
        { type: NgModule, args: [{
                    imports

[2017-11-06 15:36] gund commented on #69
@lukaszbachman thanks for pointing to this, I will check why they are not appearing

[2017-11-06 15:44] gund commented on #69
Just confirmed that NGC does not generate metadata anymore for the project...
I guess it's because Angular v5 by default strips any angular specific decorators to optimize bundle.
Need to look for any config flags how to turn it off...

[2017-11-06 17:27] gund commented on #69
So I found this property called [`generateCodeForLibraries`](https://github.com/angular/angular/blob/master/packages/compiler-cli/src/ngtools_api2.ts#L49) for `angularCompilerOptions` in tsconfig.json and I tried to set it to true and still did not get any decorators emitted...

Really weird.
Anyone has any idea what might be the issue?

[2017-11-06 17:56] elclanrs commented on #69
@gund, this seems to be related https://github.com/angular/angular/issues/20219

[2017-11-06 18:14] gund commented on #69
@elclanrs looks interesting but they are talking about code-gen of `ngfactory`s and here we are not generating them.
In our case there are not a single decorator being emitted by the NGC.

I just tried to use TSC with the same config and it did output all decorators - so it's purely NGCs issue now.

Trying to build a reproduction app now...

[2017-11-06 18:48] shlomiassaf commented on #69
very simple, use TS@2.4.2 not 2.5.3

The problem is angular not notifying about it

[2017-11-06 18:58] shlomiassaf commented on #69
2.5.3 support can be tracked here angular/angular#20175

[2017-11-06 19:04] gund commented on #69
Hey @shlomiassaf thanks for the info. Just tried with TS v2.4 and it did work.

Angular team already knows about the problem with decorators in TS v2.5 or it makes sense to create a repro app and link to the issue?

[2017-11-06 19:09] shlomiassaf commented on #69
I don't know...
They know about it so work is on way...

The issues are with tsickle mostly, not emitting the decorators... other then that you can AOT compile an app and it will work...

Since it's one shot compile the data is kept

[2017-11-06 19:14] #69 closed

[2017-11-06 20:19] gund commented on #69
You can try [v2.0.2](https://github.com/gund/ng-dynamic-component/releases/tag/v2.0.2) - should be fixed

[2017-11-07 04:08] fijas opened #80 "Not able to build with AOT on Angular 5 and ndc 2.0.2"
Thanks for the work on resolving #69 . That seems to have solved the problem after updating to angular 5. But now when I try to build a production version of my app (with aot), I get the following error:

This is the line the module file that causes the error:

Am I missing something here?

"ng serve" works fine. So does "ng build" with aot false. Also the previous versions (angular 4 + ndc 1.x) u

[2017-11-07 05:25] gund commented on #80
Just a quick question, which version of Typescript are you using?
Because the version of it was a problem previously.

[2017-11-07 05:46] fijas commented on #80
My typescript version is "2.4.2". Running the app through "ng serve" works well. The issue is only when I run "ng build" with the aot option enabled. With aot set as "false", ng build also works fine.

[2017-11-07 06:29] lukaszbachman commented on #80
I can report the same issue here. Building with AOT faild, but regular builds are working fine. I'm also on TS 2.4.2.

[2017-11-07 18:23] elclanrs commented on #80
I think I spoke too soon... Everything is fine during `ng serve`, but `ng build --prod` gives me the error.

[2017-11-07 20:10] gund commented on #80
Hey! I just discovered that the path to typings file was wrong - so I published a new version and tried on test ng-cli project it compiled just fine in prod mode.

Also I additionally installed `tslib` as required by `peerDependencies` so maybe you will want to do that too.

Either of this 2 fixes the issue =)

[2017-11-07 21:42] elclanrs commented on #80
@gund, it works great now. Thanks!

[2017-11-08 05:38] #80 closed

[2017-11-08 23:22] checo06 opened #84 "how to add @Input/@Output Decorators dynamically to component properties?"
Hi! Everybody likes this tool so im trying to use it :)

My doubt is due to this post ( https://stackoverflow.com/a/39507831/1546652 ) i could notice how to add properties dynamically to an existing component ( via Object.assign() ) but i cant figure out how to add @Input/@Output Decorators dynamically to a property. I suppose this is done via Object api.

[2017-11-09 05:14] gund commented on #84
Hi!

You are right that inputs are updated via simple property assignment, and outputs via simple subscription and then for every inputs change it generates appropriate life-cycle hooks so for your component it looks like your inputs were decorated with `@Input`.

That leads you to a conclusion that your component do not have to have at all any `@Input/@Output` decorators but you have to be carefu

[2017-11-09 07:15] maxfahl opened #85 "ngModel compability"
Is it possible to use ngModel together with the component provided by this module? Or is it only inputs/ouputs at the moment?

[2017-11-09 07:31] gund commented on #85
Please check this issue https://github.com/gund/ng-dynamic-component/issues/60

[2017-11-09 09:17] maxfahl commented on #85
Sorry, I missed that in my search.

[2017-11-09 10:44] #85 closed

[2017-11-09 10:54] maxfahl commented on #60
I solved it by wrapping the control value accessor components in a component of my own. The final class extends this class at it's base:

´´´
export class FormFieldsComponent implements AfterViewInit, OnDestroy {

	@ViewChildren(NgModel)
	formControllers: QueryList<NgModel>;

	@Input()
	public form: NgForm;

	private addedFormControllers: NgModel[];
	private formControllerChangeSub: Subscription;

[2017-11-09 16:46] nightfire2 opened #86 "Compiling with AoT not working"
I've been using your library for a little while now to great effect however when I try to compile my Angular application using AoT I get `Error encountered resolving symbol values statically. Calling function 'DynamicModule', function calls are not supported.` I see that your library does produce the expected .metadata.json files so I'm not sure what's wrong. I have tried using the standard angula

[2017-11-09 17:13] nightfire2 commented on #86
My apologies It seems this was fixed yesterday by 0be2991

[2017-11-09 17:13] #86 closed

[2017-11-10 02:03] checo06 commented on #84
Thanks a lot for your fast answer Alex!

Well i think your answer totally clears the situation. Just to close this, do you think is possible in javascript to add decorators dynamically to properties of an object? (for example using the Object api)

[2017-11-10 07:53] gund commented on #84
If we are talking about property decorators on class I think it's not possible, because decorators have to be defined on static property before any instance will be constructed but JavaScript does not allow you to know which properties it will have before you do instantiation.

So in purr javascript I guess no, but in Typescript probably you can, but you will have to do that via code-generation (y

[2017-11-10 19:53] checo06 commented on #84
Mmm.. seems complicated the dynamic injection of annotations.

I only wanted to know the dynamic injection of decorators on dynamic properties just as a cultural thing.. i only was thinking to use it to decorate the properties in the way i explained on my first post but with your advice my doubts are cleared and  the universe once again is a fair place to live.. :)

thanks a lot dude!

[2017-11-10 20:56] gund commented on #84
No problem =)

[2017-11-10 20:56] #84 closed

[2017-11-21 14:22] Romul6 opened #87 "Calling function 'DynamicModule', function calls are not supported"
Hi everyone!

i'm trying to use ng-dynamic-component in my app,
I follow the instructions in github, to use it and that error show

`ERROR in Error: Error encountered resolving symbol values statically. Calling function 'DynamicModule', function calls are not supported. Consider replacing the function or lambda wi
th a reference to an exported function, resolving symbol GridModule in C:/src/MyApp/

[2017-11-21 16:40] gund commented on #87
Maybe you have wrong import statement?
Can you please post your module where you are importing this module?

[2017-11-22 08:17] Romul6 commented on #87
Yep! sorry.

[code]

[2017-11-22 11:19] gund commented on #87
Thanks for posting. That looks fine to me...

Have you declared your dynamic components somewhere?

Because Dynamic module will not do that, it just makes sure angular will produce factories for them.

[2017-11-22 12:21] Romul6 commented on #87
Hi!

yes I try declare inside GridModule like:
[code]
and show the same errror.

Thanks!

[2017-11-22 17:26] gund commented on #87
Ah I guess the issue is in TS version you are using.
Try to set it to `~2.3.0` and then compile again.

[2017-11-23 08:30] Romul6 commented on #87
hi!
thanks for the answer, but this error  keeping showing.
Is possible that error shows for the angular-cli version? i say for the trace route .
Thats my stat right now.
[code]
Thanks!

[2017-11-23 09:35] jerousseau opened #88 "ngOnChanges called twice"
Hi,

When we change the component on the fly, the ngOnChanges of the new component is called twice, first time with the inputs we have passed to the new component ( firstChange: true and no previousValue) and a second time with in previousValue the value of the old component.
Any idea to avoid this ?

Thanks

Plnkr example to reproduce : https://plnkr.co/edit/uM7FzOmI4wNPE4F8WtFR

[2017-11-24 10:18] gund commented on #87
Quite possible.
Since you are using angular v4 try to downgrade ng cli to the latest version that was for angular 4 and see what happens.

[2018-02-05 17:44] sumitsijaria opened #94 "How to create new instance of dynamic component"
Hi,

It's great module to use for dynamic component rendering. However facing issues in data binding. Same instance of component being render in DOM. If I am trying to insert a type of component having values inserted from response object, same values are being binded previously added dynamic component.

Is there a way to create new instance of it and then add to the DOM.

Thanks in advance

[2018-02-06 11:36] gund commented on #94
You mean you want to recreate an instance of the same component that is already rendered?

[2018-02-06 14:12] #94 closed

[2018-02-07 15:49] sumitsijaria commented on #94
Yes creating a new instance inside list item based on some condition.

Though,I am able to implement it by creating dynamic components using component factory resolver so I have closed the issue.

[2018-02-11 00:49] vikrsing opened #96 "Looping dynamic component changes order"
I am trying to loop like following code but the order of sections is not retained if same component type is used. Components with similar type all gets added at the end.

`<div data-paroller-factor="0.3" *ngFor="let section of sections; let i = index">
            <ndc-dynamic [ndcDynamicComponent]="section.component" [ndcDynamicInputs]="section.componentData"></ndc-dynamic>
        </div>`

[2018-02-11 07:21] gund commented on #96
Maybe I do not understand correctly but it's up to you in what order you put sections to the `sections` variable (if it's of type array).

Would be better if you can create plunkr with example of the issue.

[2018-02-21 21:03] xbotuk opened #97 "AppModule Providers not working inside ndc-dynamic"
I have been trying to pass on the common instances of the AppModule Providers inside ndc-dynamic but unsuccessful so far. Here are the things I have tried

(1) without [ndcDynamicProviders], it seems the components are getting 'undefined' object instances of the services

(2) with [ndcDynamicProviders], it seems new object instances of the services getting created, which are different to the objec

[2018-02-21 22:49] gund commented on #97
By default you should be able to get everything what is available in your root injector because that is what used as the parent injector for the dynamically created components.

So you should be able to access your stuff from AppModule without any extra providers required.

Would you please create a plunkr with the issue you are having?

[2018-02-22 23:14] xbotuk commented on #97
I have resolved this by using ViewContainerRef.parentInjector

[2018-02-22 23:14] #97 closed

[2018-03-08 18:05] shelbyd opened #102 "Inputs don't map to correct property when bindingPropertyName is used."
### Given

[code]

### Expected

Child component has property `bar` set to `'foo'`.

### Actual

Child component has property `foo` set to `'foo'`.

[2018-03-08 20:49] gund commented on #102
Hi, thanks for reporting this.

Yes, this use-case actually was never supported, and nobody even used it thus far =)

I have an idea how it can be fixed (using information about component's IO from it's `ComponentFactory`) but for right now do not have access to laptop so won't be able to implement a fix.

If you want to submit a PR with the fix please feel free to do so.
And if you have any quest

[2018-03-14 08:56] slillo opened #103 "strange focus behaviour"
Please take a look at this [example](https://stackblitz.com/edit/angular-dyncomps)

AppComponent dinamically insert InputComponent, each InputComponent dinamically insert LabelComponent (before the input), SvuotaComponent (just a button immediately after the input field, that empty the input) and ErrorComponent (after the button).

Buttons are disabled until input fields are empty. While inputs ar

[2018-03-15 16:13] alandroid commented on #63
I am also having this issue: **Can't bind to 'ndcDynamicComponent' since it isn't a known property of ...**

[2018-03-15 16:18] gund commented on #63
Please can you provide reproduciable live example?

[2018-03-15 16:23] gund commented on #103
Hi, thanks for creating example.

I tried it on the phone with voice over and saw that focus jumped to the page which is odd.

My only guess for now is that there is something to do with change detection, and when you move focus for a brief moment in time html loses all dynamic components at which point browser sets focus somewhere else and by the time they are rendered back focus is already set.

[2018-03-15 16:55] alandroid commented on #63
Hey @gund i cannot provide live example due to time constrains however, i managed to get it working along with inputs, thank you very much!!

[2018-03-15 16:58] gund commented on #63
@alandroid so if I understood correctly `ndcDynamicComponent` will not work unless you apply `ndcDynamicInputs` ?

[2018-03-15 17:33] alandroid commented on #63
Not the case at all:
I had some leftover code from previous attempts to get a dynamic component - *ngComponentOutlet applied to the same element which was preventing correct render.

[2018-03-15 17:58] gund commented on #63
Great, I will close this issue than.

[2018-03-15 17:58] #63 closed

[2018-03-16 15:06] loreian commented on #50
I'm interested on how to loop the components. I would also like to understand how to serialize the data. I can serialize the positions, but I can not save the association with the components.

[2018-03-23 15:01] #102 closed

[2018-03-23 15:08] gund commented on #102
Fix released in [v2.1.0](https://github.com/gund/ng-dynamic-component/releases/tag/v2.1.0)

[2018-03-23 15:19] gund commented on #14
Closing due to inactivity.

[2018-03-23 15:19] #14 closed

[2018-03-23 15:19] gund commented on #44
Closing due to inactivity.

[2018-03-23 15:19] #44 closed

[2018-03-23 15:20] gund commented on #48
Closing due to inactivity.

[2018-03-23 15:20] #48 closed

[2018-03-23 15:20] gund commented on #50
Closing due to inactivity.

[2018-03-23 15:20] #50 closed

[2018-03-23 15:21] gund commented on #68
Closing due to inactivity.

[2018-03-23 15:21] #68 closed

[2018-03-23 15:21] gund commented on #87
Closing due to inactivity.

[2018-03-23 15:21] #87 closed

[2018-03-23 19:39] gund commented on #96
Closning due to inactivity.

[2018-03-23 19:39] #96 closed

[2018-03-26 01:07] minuz opened #111 "Upgrade to version 2.1.0 breaks"
Hi,

I was updating the packages from my solution and when upgrading from 2.0.3 to 2.1.0 of your library, all of sudden my screen stopped working.

I had a dynamic form that receives the framework type at the creation of the module and I'm using your library to abstract the dynamic injection of the component

[code]

before (v.2.0.3) :
[code]

Current:

[code]

Can you please have a look? It seems

[2018-03-26 03:01] gund commented on #111
Hi, that's weird I had green light across the board in tests...

Will take a look.

[2018-03-26 09:06] minuz commented on #111
Hi @gund, thanks for the fast reply.
I can confirm that switching back to 2.0.3 fixes my current issue.
Please, let me know if you need more details from me.

[2018-03-26 11:55] gund commented on #111
Hey @minuz, I just tried simple demo with latest (v2.1.0) version of this lib and it seems to work fine:
![image](https://user-images.githubusercontent.com/3644678/37904816-e3eae12c-310d-11e8-855e-405dc64f8a15.png)

No errors and changes are computed as expected...

You can check it out here: https://stackblitz.com/edit/angular-qywrkv

Maybe you can share example where it crashes?

[2018-03-26 16:21] gund commented on #103
Hey, I did some testing and found that your button components every time are recreated when interaction happens (either by focus changes on the page or by typing somewhere), you can see that here: https://stackblitz.com/edit/angular-dyncomps-x29gq4

Basically number near each component in parenthesis indicates current id of component and if it changes it means that is was recreated.

The reason yo

[2018-03-26 20:25] st-clair-clarke commented on #111
I agree with @minuz. My application is broken as well with the new upgrade. Here is the error from my app

![ng-dynamic-error](https://user-images.githubusercontent.com/3227590/37930656-602b9daa-3111-11e8-8789-48bac407fd32.jpg)

Note the _collectChangesFromDiffer present in the error and in @minuz.

Cheers

[2018-03-26 21:50] gund commented on #111
Can any of you please provide minimal repro example either on plunkr or stakblitz so I can have a look?

Because with the simple example it works just fine...

[2018-03-26 22:40] minuz commented on #111
Hi @gund, I'll try to reproduce that in isolation. I'll let you know to see if I could reproduce the issue with minimum steps.

[2018-03-27 01:15] jzoss commented on #111
I can try to reproduce as well, but I also am getting the same error.

[2018-03-27 09:31] minuz commented on #111
Intertesting. I'm trying to reproduce using a similar pattern that I'm using on my app and it's failing with a different problem. It's now related to the input. If I remove the input from the directive, it loads the component.
I can publish the repo if you want to take a look. I might be doing something silly... =p

[2018-03-27 16:37] gund commented on #103
I've worked on your example app to demonstrate the approach you can take to fix those extra changes: https://stackblitz.com/edit/angular-dyncomps-fixed

Basically I'm caching all the dynamic components data so that it won't trigger any extra changes, but then your inputs have to be updated when needed, so I created extra private method called `_updateValue()` that is triggered every time value cha

[2018-03-27 16:37] #103 closed

[2018-03-27 17:13] gund commented on #103
I also added modified version where you might have some async update which does not come from UI (like backend) in which case you will have to manually tell Angular to rerender particular template via `ChangeDetectorRef`.

Check it out here: https://stackblitz.com/edit/angular-dyncomps-fixed-with-update
(the label of every component is updated after 2 secs).

You can note that I added calls to `Ch

[2018-03-27 17:20] gund commented on #111
Hey @minuz, I just quickly had a look at your repro (thanks for taking time creating it) and found that you are using there [fixed version of this lib v2.0.3](https://github.com/minuz/ng-dynamic-component-bug-repro/blob/cec56830964b5b1881bb959e8c5f3b4cf4302f82/package.json#L26) which is the version before update we are talking about here...

I will try pulling it and upgrading version ta latest bu

[2018-03-27 18:46] gund commented on #111
Alright, so I pulled your repo, updated lib version to latest (which is v2.1.0) and started app.

First error I've got was some providers not available, so I quickly figured that module was not imported properly: you have to at least once import with `DynamicModule#withComponents()` method for it to generate all required providers. So by just changing that I got app working and displaying the comp

[2018-03-27 19:21] jzoss commented on #111
So.. I have not been able to recreate it yet.. besides on my project that is creating the problem..

So what I see is differ is null on line 315 of the  .es5.js file.. causing the line at 317 throw an exception.

Also in my case at least .. It seems that that function is called multiple times.. the first it it goes through it works.. after that differ is null..

[2018-03-27 19:56] gund commented on #111
@jzoss that one I got but as you can see it looks like some really edge case because so far every example works fine.

If you have access to code base that is failing try to find some non-trivial special pieces of code that is related to this lib and we can move from there.

[2018-03-27 21:53] minuz commented on #111
Thanks for fixing the bug repo...but this change didn't fix the issues I'm having on my app... =/

![image](https://user-images.githubusercontent.com/818024/37997022-677130a2-3265-11e8-97d2-373bcb3bd56f.png)

[2018-03-27 23:11] gund commented on #111
@minuz yeah I see.

Are you able to share the project were you are getting error or at least cut particular piece that is failing?

[2018-03-28 00:12] minuz commented on #111
@gund, unfortunately no. This is not an open source project and it's infrastructure is confidential IP and under nda. :(

[2018-03-28 11:36] gund commented on #111
Anyone else maybe able to create a demo that showcases this error?
Without it I don't think we can move forward...

[2018-03-28 13:50] HMubaireek commented on #43
Hi @gund,

Plaese update the documentation according to this to save time for new users.

[2018-03-28 15:27] hassanasad commented on #111
@gund - From my test i think if you call the component setup code more than once you get the error mentioned above. First time it works just fine, calling it second time it throw 'forEachItem' of null error.
It used to work fine in previous version though.

So for instance:
[code]

If i call the above function twice it will throw error. I hope it helps in debugging the issue.

[2018-03-30 15:32] hassanasad commented on #111
@gund Did my comment above help debugging this issue ?

[2018-03-30 19:15] gund commented on #111
@hassanasad thanks for providing this info.

I did not have time to check it yet, but will try in a few days.

[2018-04-05 01:35] minuz opened #115 "tslib dependency"
Hi @gund,
Quick question...
DO you actually use tslib in your library?? You added as dependency and I just noticed a warning about the missing dependency. However, even if I don't add the dependency, my app still works fine with your library version 2.0.3.

Is this really required?

[2018-04-05 02:45] minuz commented on #111
I tried to use symlink and make quick changes to check where the problem is.
When doing some null check to prevent then error previously mentioned, I start getting this:

[code]

Any ideias?

[2018-04-10 12:52] Gidmark opened #118 "Rxjs 6 support"
Any plans on supporting Rxjs 6? Atm i get errors when it tries to include "rxjs/Subject" which should be "rxjs" and rxjs/add/operator/takeUntil which should be "rxjs/operators"

[2018-04-10 21:33] randguy opened #119 "Create separate components with different Inputs for the same class"
I'm trying to create separate components with different Inputs for the same class, this is my component class:

[code]

This is where I load my component

[code]
`widgets` used to store all widget coordinate and class to load.
[code]
How can I create separate components with different inputs?
Thank you.

[2018-04-11 05:00] lukaszbachman commented on #111
I started receiving the same issue only after I upgraded Angular (to 5.2.9) & Angular CLI (to 1.7.4).
Once the upgrade was complete I was still using ng-dynamic-component ^2.0.3 and I could see that error. So I upgraded ng-dynamic-component to 2.1.0 but that didn't help either. Hope that helps to track it down.

[2018-04-11 09:01] gund commented on #111
@lukaszbachman so you mean that the problem occurs while you update the version of Angular?
Could you please tell from which version specifically you upgraded?

Maybe there are some minor breaking changes between those versions of Angular...

[2018-04-11 09:03] gund commented on #115
Hi, well when I compile the library it is done with `importHelpers` flag which means that the compiled code will create imports from `tslib`.

So I think that it is required. Maybe you had tslib installed by some other lib but otherwise you would get an error

[2018-04-11 09:04] gund commented on #118
Hi, yes, it is better to rely on lettable operators.

There is only one operator used (takeUntil) so it should be a pretty minor thing.
If you want, you are more than welcome to make a PR for it =)

[2018-04-11 09:06] gund commented on #119
Well it is up to you which inputs you set.
You are free to set any objects and pass them to your inputs component.

[2018-04-11 10:30] lukaszbachman commented on #111
@gund , that's exactly right. Details about my migration:

- Angular from 5.1.0 to 5.2.9
- CLI from 1.6.0 to 1.7.4

[2018-04-11 11:26] minuz commented on #111
@lukaszbachman, I'm running the same version as you and still works with version 2.0.3 and breaks on version 2.1.0.

this is my package.json

[code]

[2018-04-11 12:40] lukaszbachman commented on #111
@gund , @minuz , sorry guys but I think I might have reported a false issue. Inspired by your questions I reverted my Angular+CLI migration, did it again but this time enforced version 2.0.3 on **ng-dynamic-component**. I can confirm that this works with:

[code]

I must have upgraded ng-dynamic-component by mistake when upgating my libs, because I had caret range applied to it: ^2.0.3

You can di

[2018-04-11 22:51] minuz commented on #115
No worries, I end up adding tslib to my project. Was just curious because I didn't really see the use on the code.

[2018-04-11 22:51] #115 closed

[2018-04-16 13:58] nickbullock opened #120 "Pass attributes to dynamic component"
Hi! Thank you for this library.
How can i pass attributes(class for example)  to dynamic components?
[code]

[2018-04-17 21:45] skermajo commented on #111
I'm seeing this issue if I reinitialize the dynamic component input object. In my specific case, this effectively occurs when a dynamic component input object is backed by an ngrx store, and the store updates.

I've created a stack-blitz that can reproduce the error. Click the 'Reinitialize Input' button more than once and the 'differ is null' error will appear in the console.

https://stackblitz.

[2018-04-19 09:18] gund commented on #120
Well unfortunately right now you have to do it yourself imperatively (not via html).

And the way you can set attributes is by using `<ndc-dynamic>` component to inject dynamic component and then grabbing it's reference in your host component via `@ViewChild` and then using it's `componentRef` public property which in turn will have `location` property of type `ElementRef`.

That that can be used

[2018-04-19 09:31] gund commented on #111
@skermajo thank you so much for clear example.

It's now completely clear what is the problem.
Basically it's an edge case when you do update your inputs object (so angular will trigger change detection) while actual object is still the same as before, and so differ will of course be null.

I will create a test case for this particular scenario and fix it so it never happens again =)

[2018-04-19 10:02] gund commented on #120
Btw for the time being you can create a more usable solution for yourself.

You can extend `DynamicComponent` with new component that will additionally accept a set of attributes and internally assign them using the method I described above.

And then when you import `DynamicModule` just pass new component as a second argument to `withComponents()` method so that it will be used instead of default

[2018-04-19 10:51] gund commented on #111
Just a heads up before releasing this fix I have to fix releasing itself in travis CI because after upgrade of `semantic-release` it got broken... Yeah...

[2018-04-19 13:29] #111 closed

[2018-04-19 13:51] nickbullock commented on #120
Thank you sir!

[2018-04-19 14:49] #118 closed

[2018-04-19 14:54] gund commented on #118
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-19 17:08] bharatn opened #125 "Can't resolve './rxjs.imports'"
Hello,

After I ran npm update(ng-dynamic-component 2.1.0 to 2.1.3) I am getting the following

I am getting webpack error when using ng-dynamic-component

ERROR in ./~/ng-dynamic-component/index.js
Module not found: Error: Can't resolve './rxjs.imports' in node_modules/ng-dynamic-component

@ ./~/ng-dynamic-component/index.js 5:0-24

Where is rxjs.imports located? I dont see it in the src tree

[2018-04-19 17:26] bharatn commented on #125
I commented this line and able to use the ng-dynamic-component package without any issues so far so i am assuming its not used.

[2018-04-19 19:08] gund commented on #125
The thing is I removed that file and import for it because I switched to lettable operators.

It's really weird why there is an import of this file at all in the compiled code...

[2018-04-19 19:34] #125 closed

[2018-04-19 19:39] gund commented on #125
:tada: This issue has been resolved in version 2.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v2.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-19 20:44] jzoss commented on #111
Awesome.... Thanks!

[2018-04-19 22:32] gund commented on #88
Hi @jerousseau,

Sorry for late response. Just got my hands on your plunkr.

I can confirm that this is a bug.
I will build a test case for it and then fix it pretty soon.

Thanks for building awesome example.

[2018-04-19 23:44] #88 closed

[2018-04-19 23:47] gund commented on #88
:tada: This issue has been resolved in version 2.1.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v2.1.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-20 17:17] akatrukhin commented on #87
I have the same issue, that's what I have right now:
 "@angular/cli": "1.4.4",
    "@angular/compiler-cli": "^4.2.4",
    "@angular/language-service": "^4.2.4",
    "@types/jasmine": "~2.5.53",
    "@types/jasminewd2": "~2.0.2",
    "@types/node": "~6.0.60",
    "codelyzer": "~3.2.0",
    "jasmine-core": "~2.6.2",
    "jasmine-spec-reporter": "~4.1.0",
    "karma": "~1.7.0",
    "karma-chrome-laun

[2018-04-24 08:11] gund commented on #120
Hey @nickbullock, if you want you can try a new directive added in new release that will allow to set attributes right from your templates.

Let me know how it works for you =)

[2018-04-24 18:27] smohant2 opened #134 "Can't bind to 'ndcDynamicComponent' since it isn't a known property of 'ndc-dynamic'."
Hi,

I'm getting below mentioned error while using ndc-dynamic. I tried with <ng-container [ngComponentOutlet]="component"></ng-container>, which appears to be working fine. However in order to pass input data to component I need to use ndc-dynamic.

Attaching source code with error
[Dashboard.zip](https://github.com/gund/ng-dynamic-component/files/1944083/Dashboard.zip)

Please help!!!

compiler.

[2018-04-25 08:08] gund commented on #134
1. You are missing to import module `DynamicModule` in your `AppModule` imports.
2. You can use `ndcDynamicInputs` even with `ngComponentOutlet`, however, again, you have to make sure step No.1 is fixed.

[2018-04-25 08:08] #134 closed

[2018-04-25 10:11] smohant2 commented on #134
Hi gund,

Thank you for your reply. Now I'm importing DynamicModule in app.module.ts, however I'm getting below mentioned error. Kindly let me know if you have any solution for this.

### Error
Uncaught Error: Unexpected value 'DynamicModule' imported by the module 'AppModule'. Please add a @NgModule annotation.
    at syntaxError (compiler.js:485)
    at eval (compiler.js:15234)
    at Array.forE

[2018-04-26 19:03] #120 closed

[2018-04-30 06:46] minuz commented on #111
Hi @gund,
Just tested today and can confirm my issue is gone! Thanks for your effort on make this work!
cheers!!

[2018-05-01 18:45] chriswhite199 opened #135 "Component creation callback via @Output"
Would it be possible to add an `@Output() EventEmitter<ComponentRef<any>>` for ngc-dynamic component such that we can be notified when component is created, for example:

[code]

[code]

I've tried to simply extend `DynamicComponent` but the `DynamicDirective` class then has issues

[2018-05-01 18:50] gund commented on #135
If you do extension of `DynamicComponent` you should also pass it to `DynamicModule.withComponents()` as a second argument, then directive will have no problems =)

[2018-05-01 20:48] chriswhite199 commented on #135
@gund - I still get an error even with your suggestion:

[code]

[code]

[2018-05-02 21:46] gund commented on #135
@chriswhite199 just verify if you are using in your template your new component instead of original `DynamicComponent`.

[2018-05-02 21:57] chriswhite199 commented on #135
I was, i'll update my dependency to 2.3.0 and confirm everything works as expected before closing

[2018-05-02 22:34] chriswhite199 commented on #135
Perfect, works as expected

[2018-05-02 22:34] #135 closed

[2018-05-03 05:52] BBlackwo commented on #134
@smohant2 you need to change it from `DynamicModule` to `DynamicModule.withComponents([])`. For example:

[code]

[2018-05-07 09:18] fijas opened #139 "rxjs version bump to 6?"
Not able to update app to angular 6 as `ng-dynamic-component` depends on `^5.0.0` whereas angular 6 now depends on rxjs `^6.0.0`...

[2018-05-07 11:00] p3root commented on #139
I would also need your module for angular 6 :)

[2018-05-07 14:17] gund commented on #139
I think you can still safely update to v6 ignoring the npm warning. It's basically just a cosmetic thing in the package.json.

But yeah it's a good idea to update the version range =)

[2018-05-07 14:26] gund commented on #139
Oh also all angular dependencies should be bumped to v6 range along with typescript version.

And that means that it should be published as a major release (as a breaking change).

[2018-05-08 04:17] fijas commented on #139
Yes, you are right, it was just a warning that I was able to ignore. `ng update` was throwing out random errors which I thought was caused by this. In the end I had to update to version 6 manually. I used the instructions [found here](https://github.com/angular/angular-cli/issues/10621#issuecomment-386612334) for that.

Yeah this will definitely require a major version release as that also keeps i

[2018-05-08 05:12] snowyu commented on #139
Get rid of npm warning is simple:

[code]

But you should read this first [RxJS v5.x to v6 Update Guide](https://github.com/ReactiveX/rxjs/blob/master/MIGRATION.md)

**Change from**:
[code]

**TO**:
[code]

[2018-05-09 03:36] snowyu commented on #139
Here are: [The Angular 6 Upgrade Guide](https://update.angular.io).

[2018-05-09 09:02] gund commented on #139
@snowyu thanks for the link, however I don't think there is something related to this error...

I think it is only happening in unit test but will have to verify by running in ng6 test app to be sure.

[2018-05-11 15:28] dcp3450 opened #142 "'ndcDynamicComponent' error even if imported in app.module"
I'm getting the "Can't bind to 'ndcDynamicComponent' since it isn't a known property of 'ndc-dynamic'." error just like in #134 however I am importing per the readme:

app.module.ts:

[code]

grid.component.html:

[code]

grid.component.ts:

[code]

I trying to test adding my test view in my grid items which will eventually be loaded dynamically based on options the user selects.

[2018-05-15 16:48] kamilkisiela commented on #139
Doing some work [here](https://github.com/gund/ng-dynamic-component/pull/141), feel free to help

[2018-05-16 20:35] #139 closed

[2018-05-16 20:40] gund commented on #139
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-17 13:31] dcp3450 opened #145 "'@NgModule.entryComponents' error when used in secondary module"
I have a second module `wrapper.module.ts` that houses my main components. I then `import` the module into my `app.module.ts`. Setup is like this:

[code]

wrapper.module.ts:
[code]

app.module.ts:
[code]

grid.component.html:
[code]

grid.component.ts:
[code]

I'm getting an error that `TestViewComponent` wasn't included in the `entryComponents`. I'm dynamically adding this in the grid that's ins

[2018-05-17 14:37] gund commented on #145
Well I'm sure you cannot use the type of dynamic component as a string since you will loose the reference.

Secondly I think you do not have to import `DynamicModule` in multiple modules - only where you are using it.

Try these modifications and see if it works, otherwise to create plunkr with reproduction.

[2018-05-17 14:53] dcp3450 commented on #142
I had to import into my parent module. I assumed I had to import into the app module

[2018-05-17 15:28] gund commented on #145
`TestViewComponent is not defined` error indicates that somewhere you have circular dependencies and that's what causing the confusion.

Try to check all imports and make sure they are not circular, also you might want to use `circular-dependency-plugin` for webpack that will help detect this suff and either throw a warning or even break the build.

[2018-05-18 09:27] gund commented on #142
@dcp3450 so is it working now?

[2018-05-18 12:57] dcp3450 commented on #142
It's working when I also `import { TestViewComponent } from './views/test-view/test-view.component';` into the component that will set that dynamic component. However, this relates to my other issue #145

[2018-05-18 13:28] gund commented on #142
okay let's then keep that issue alive

[2018-05-18 13:28] #142 closed

[2018-05-18 13:30] dcp3450 commented on #145
So I understand, `import { TestViewComponent } from './views/test-view/test-view.component';` in the component that instantiates the dynamic content is working because of the circular dependencies and not something I need do normally, correct?

[2018-05-21 18:06] TheShanMan opened #147 "karma: Failed: Unexpected value '[object Object]' declared by the module 'DynamicTestModule'"
Background: I was getting the following error when running ng test:

`Failed: Template parse errors:
Can't bind to 'ndcDynamicInputs' since it isn't a known property of 'div'. ("h4>{{panel.title}}</h4>
<div *ngIf="panel.header" class="header" [ngComponentOutlet]="panel.header" [ERROR ->][ndcDynamicInputs]="{panel: panel}"></div>
<div class="padded">
  <ng-container [ngComponentOutlet]=""): ng:///D

[2018-05-21 18:08] TheShanMan commented on #147
Sorry it didn't format the stuff I pasted into the "code" sections.

[2018-05-21 19:47] gund commented on #147
@TheShanMan you should put the module in the import section and not declare.

[2018-05-21 19:47] #147 closed

[2018-05-23 16:27] dcp3450 commented on #145
I've found that the issue this time is `item.viewType` is passing a string so it needs to be `typed` correctly.

[2018-05-24 08:10] gund commented on #145
@dcp3450 it's hard to get an idea of the issue without full code listing or repro plunkr.
But if you know that you still passing into `[ndcDynamicComponent]` a string instead of type you should fix that first before moving forward.

[2018-05-25 23:36] alandroid commented on #88
I am still experiencing this issue, perhaps only a change detection issue but not sure

[2018-05-30 09:34] gund commented on #88
@alandroid can you please create a plunkr with repro?

[2018-07-27 12:29] RealFighter64 opened #160 "Add directive to dynamic component?"
First of all, thanks so much for the library. It's really helped me to get my application up and running.
However, I was just wondering if it is possible to add a directive to a component generated by NDC. I'm trying to use a directive to get the dynamic components as a set of ViewChildren, but I'm having trouble applying the directive to every instance of the dynamic component.
For example:
[code

[2018-07-27 12:46] gund commented on #160
Hi, right now it is not possible to apply directives to dynamic component since this process is only available via templating (because angular compiles all templates).

So your workaround can be to create a wrapper component that applies required directives to your component and then you render that wrapper dynamically. Not ideal but will work right now.

There is a chance that applying directives

[2018-07-27 12:48] RealFighter64 commented on #160
Thanks for the fast reply! I'll see what I can do.

[2018-07-31 10:31] gund opened #161 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-08-15 19:15] alexandremoore commented on #160
@RealFighter64 were you able to work around this? I tried to wrap my component like @gund  suggested but it didn't work.

[2018-08-28 13:37] quasipolynomial opened #166 "Can't bind to 'ndcDynamicCreated' since it isn't a known property of 'ndc-dynamic'"
Hi there.

I receive the above error with the following simple code:

dynamic.component.ts:
[code]

app.module.ts:
[code]

app.component.ts
[code]
[code]

[2018-08-28 13:45] quasipolynomial commented on #166
My apologies. I have noticed that the syntax has changed from:

```[ndcDynamicCreated]="componentCreated($event)"```

to

```(ndcDynamicCreated)="componentCreated($event)"```

in V.3

[2018-08-28 13:45] #166 closed

[2018-08-30 19:39] gund commented on #166
@quasipolynomial just to be clear it was always like `(ndcDynamicCreated)=""` because that's how angular template listeners syntax is working.

[2018-09-02 20:16] gund commented on #161
Broken npm token fixed: https://travis-ci.org/gund/ng-dynamic-component/jobs/410257035

[2018-09-02 20:16] #161 closed

[2018-09-02 20:16] gund commented on #145
Closing due to inactivity.

[2018-09-02 20:16] #145 closed

[2018-09-03 00:11] gund commented on #160
I started investigation on this topic here: https://github.com/gund/test-dynamic-directives

[2018-09-03 10:28] domessina opened #167 "Complex objects undefined"
Hello, I am using ndcDynamicInputs and passing a huge non typed object ( :any) ; But it always tells me in the dynamic component "undefined" . Only simple strings or number are not undefined. It is unevitable to create a class for my input with all the fields ?

Thanks

[2018-09-03 11:15] gund commented on #167
Hey, you can pass objects of any shape via the input, just make sure your template is like `[ndcDynamicInputs]="..."` (note square brakets)

[2018-09-07 06:42] vimalkovath opened #169 "from a Dynamic loaded component how can change the value of another dynamic loaded component"
[code]

1.onClick of first component change the value of second coponent

2.Want to change the name from "helloworld" to "myworld". both in
same page same component loaded. how can i differentiate and change the value.

3. If both are loaded dynamically how i can access the instance and change value dynamically.

[2018-09-07 13:28] gund commented on #169
Well you do this as you would do with 2 normal components: through the parent component.

Just listen on one component output and update input on other component.

[2018-09-08 17:50] vimalkovath commented on #169
Thank you @gund  . i did thanks for your support .
What i did is created a service to save all instance of components.
passed which componentID and get the instance and changed.
i think this is what u told.
If not If you have any other good ways please suggest that also.

Thanks again.

[2018-09-08 17:50] #169 closed

[2018-09-28 09:23] shan75 opened #175 "How to unload and load different component"
Hi

Thanks for this library. This is a great piece of work which helps to load components dynamically.  I am struggling to achieve one thing.

I need to build a four step wizard in my app. I need to load one component to next component for four steps and also navigate between back and forth.  For example on page load I setup
Wizard1Component dynamically which works. On click of of next button, I n

[2018-09-28 10:17] gund commented on #175
Hi, to load/unload dynamic components you just have to change the `@Input` and that will be enough.
To unload - you can set it to `null`.

[2018-10-08 19:32] #160 closed

[2018-10-08 19:37] gund commented on #160
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-09 00:35] fluky opened #183 "ndcDynamicOutputs not working"
I'm pulling what little hair I have left out trying to get ndcDynamicOutputs to work.  I have the following

[code]
[code]

[code]
[code]

When I click the button I get the "Click Event" but I do not get the "Expanding/Collapsing" message.  I've walked into the event emitter and there are no observers on the event.  Ideas?

[2018-10-09 01:02] gund commented on #183
Hi, can you please create a small plunkr with example app that shows your issue?

You might use stackblitz.com for it

[2018-10-09 12:13] fluky commented on #183
Actually, I'm just doing a POC at the moment.  I can give you the whole project:

https://github.com/fluky/dashboardPOC

[2018-10-09 16:47] fluky commented on #183
Never mind I figured out the problem.  Since I was doing multiple components for POC and they all were based on another component, they were not bubbling up in the middle.

[2018-10-09 16:47] #183 closed

[2018-10-12 10:27] narendrapandey999 commented on #41
Hello,
In my case Trial Component (dummy-spawner) is being called from another component and in their I am setting data like below -

 <dummy-gridster-item [item]="{cols: 1, rows: 1, y: 0, x: 5}">
      <dummy-spawner [input_component]= "component" [received_input_data]= "input" (output_data)='changereceived($event)' fxFlex="30%">
      <dummy-header #CardHeader>
       <dummy-title>{{header}}</du

[2018-10-12 14:33] gund commented on #41
Please provide live example of your problem on stackblitz.com then I might have a look.

[2018-10-14 13:35] swaner opened #186 "Universal node startup error: ReferenceError: window is not defined"
After upgrading ng-dynamic-component from version 3.0.0 to version 3.1.0.
Running using ng serve works fine, but when using node and server side rendering I get the error directly on startup so server won't event start up.

Seems to be related to DynamicAttributesDirective, the compiled row it crashes on is:
[code]

This is the entire call stack:
[code]

[2018-10-14 13:47] gund commented on #186
Hi, yes it is the cause of the crash indeed. I will fix this.

[2018-10-14 14:31] #186 closed

[2018-10-14 14:35] gund commented on #186
:tada: This issue has been resolved in version 3.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v3.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-14 15:07] swaner commented on #186
@gund Thanks for the quick fix. Seems to work just fine now 👍 :)

[2018-10-15 08:10] narendrapandey999 commented on #41
Hello Gund, Below is the stackblitz url.

https://stackblitz.com/edit/angular-with-ng-dynamic-component-c6vexd

It is currently having some import issue hence not working correctly.
In it, I am passing data from my app component to a spawner component. Spawner component spawn the component received and call its HelloTwComponent.execute() method. It emits back data to output() method of spawner com

[2018-10-15 13:57] gund commented on #41
@narendrapandey999 I had a look into your plunkr.

First of all there were some errors not related at all to my library (some angular-cdk errors) that I had to fix.

Finally I upgraded my library from v1.1.0 (which is quite outdated) to v3.1.1 and took advantage of `(ndcDynamicCreated)` output that allowed me to get a reference to created component and then execute it's method.

One important thin

[2018-10-15 23:13] semlibraries commented on #175
Hi @gund  I done it here: https://angular-zupxfn.stackblitz.io
Hope this shows. You can see in the console log.

[2018-10-16 12:45] narendrapandey999 commented on #41
Hello Gund, thanks for the working code.
I am still facing issue with spawning as the rendered data from child component is being set in my code but it still doesn't get spawned in web page. Could there be a possible object initialisation issue as my app_component have a  ngAfterViewChecked() call (I have to add this check to get recent modifications from child component) and ndcDynamicCreated.ins

[2018-10-16 13:22] #175 closed, assigned to nobody

[2018-10-16 14:19] narendrapandey999 commented on #41
Also, is it mandate to use ndcDynamicCreated or if we can invoke the underlying method of child component through other means. For eg, making part of ngOnInit()

[2018-10-16 14:46] narendrapandey999 commented on #41
Ok. After lot of hit n trial , it worked. I was missing <div> tag in my projected content (as you have mentioned in :( ). So i enclosed my child component html with <div> tag and it worked. It didn't took the styling as required , but it seems specific to our project. Thanks again :)

[2018-10-22 10:02] narendrapandey999 opened #193 "Improper data load"
Hi

I am able to make use of dynamic component and dynamic load is working fine. My code is somewhat similar to what is present in below link -
[https://stackblitz.com/edit/angular-with-ng-dynamic-component-k4olqc?file=app%2Fheader.component.ts](url)

Below is how it works -
App component  => It passes the componet that needs to be spawned and the basic data for making this dynamic component work.

[2018-10-22 10:07] narendrapandey999 opened #194 "Improper Data load"
Hi

I am able to make use of dynamic component and dynamic load is working fine. My code is somewhat similar to what is present in below link -
[https://stackblitz.com/edit/angular-with-ng-dynamic-component-k4olqc?file=app%2Fheader.component.ts](url)

Below is how it works -
App component  => It passes the componet that needs to be spawned and the basic data for making this dynamic component work.

[2018-10-22 11:13] #194 closed

[2018-10-23 10:47] frontr-uk commented on #175
there is an issue trying to update the component on calling a method.

[2018-10-23 13:55] narendrapandey999 commented on #193
any inputs will be valuable :)

[2018-10-24 09:03] gund commented on #193
I do not know what does not work in your case but if you are saying that it is similar to the example you sent it should be working just fine.

See attached pic:
<img width="323" alt="screenshot 2018-10-24 at 11 02 33" src="https://user-images.githubusercontent.com/3644678/47419431-76920e00-d77c-11e8-8903-5f93fe3f41a1.png">

[2018-10-24 10:40] narendrapandey999 commented on #193
Hello @gund , In my real application, we have multiple selector in dynamic component for eg -

[code]
In the above mentioned stackblitz example, i have mentioned only one component in my dynamic component. As we can see that there is an ng-content present in first component of my dynamic component i.e. -

[code]
 While i scan my code I get below code (Sorry for the long code :) )-

[code]
As you c

[2018-11-02 18:15] vkvarma opened #200 "How We can use this to use dynamic HTML to render component in AOT mode without offline compiler ?"
My use case is below :-

Angular Version : - 6.1.0
Build Tool :- CLI
Mode :- Prod with AOT and buildOptimizer true

1) Need to create the dynamic component with dynamic HTML response mentioned below into AOT
   without using offline compiler(this will not be available runtime in prod mode) :-

   <button (click)="doSomething()"> <span>Click Me</span></button>

when the components renders the bindi

[2018-11-03 18:04] gund commented on #200
Hi, I do not understand what is it exactly you are trying to achieve.

Would you please create a demo app on stackblitz.com ?

[2018-11-03 18:05] gund commented on #193
Again, without the demo app clearly demonstrating your issue I'm not able to help you. Please consider creating a demo on stackblitz.com.

[2018-11-07 12:04] vdzundza commented on #200
I just see that ngc doesn't work with AOT, there are no any errors, it just not rendered.

[2018-11-07 12:25] vdzundza opened #203 "The dynamic components are not rendered when build is AOT"
[code]

package.json

[code]

Build was passed, but when app is deployed I see empty blocks without any content

[2018-11-08 15:54] gund commented on #203
I cannot help without any demo that shows an issue.

[2018-12-03 13:10] vdzundza commented on #145
@dcp3450 @gund I've got the same issue

[2018-12-03 13:21] vdzundza commented on #145
@dcp3450 I've fixed this issues with wrapping storyblok components to lazy function

`
import { CommonButtonComponent } from './shared/components/common-button/common-button.component';

const getComponentsLazy = () => {
  return {
    'common-button': CommonButtonComponent
  };
};
export { getComponentsLazy };
`

and used everywhere in the components:
`
components = getComponentsLazy();
`

[2018-12-12 05:44] sandorfr opened #209 "Use FormControlDirective"
It's currently not possible to apply FormControlDirective to a dynamic component. It fails during the `createDirective` with the following error:
[code]

Its seems it gets tricked by the peculiar directive constructor and  want to resolve to the arrays. I'm not familiar with the `reflect` method which is at play but it seems it ignore the Injection Tokens in the metadata  sur as `@Inject(NG_VALIDA

[2018-12-12 08:12] gund commented on #209
Hi, you are right, currently `@Inject` is not supported in dynamic directives. That is why that error occurs.

It should be possible to implement it without major issues so I will have a look into this soon.

[2018-12-13 01:19] sandorfr commented on #209
Apparently the global Reflect is going towards deprecation. I wonder what's the right replacement for it.

I was able to make it work without it by having the directive registered as a constructor provider in my module, and creating a childInjector as follows

[code]

However once done I've hit another problem , it seems the current Input binding does not honor, bindingPropertyName on the @Input d

[2018-12-13 01:48] sandorfr commented on #209
Other findings, my hack on the createDirective is not good enough as the injector I'm using is based on the root injector. It has to be the injector from the dynamically created component to get the providers it might register (such as NG_VALUE_ACCESSOR)

[2018-12-13 11:19] gund commented on #209
@sandorfr great findings. I did not know that directives still have inputs binding information at runtime, that definitely can be used to support inputs renaming.

Regarding the `FormControl` directive I would advise against using it as dynamic directive because there are limits of what is supported and that directive is not simple one.

You can always wrap your dynamic component into another comp

[2018-12-13 11:36] sandorfr commented on #209
By curiosity, In which case would it happen?

[2018-12-13 15:52] gund commented on #209
For example if your directive has specific selector to work only with specific component (like `my-component[myDirective]`) then you can easily inject that component inside of your directive and do smth with it like so:
[code]

[2018-12-13 22:41] gund commented on #209
The problem is that component will already exist by the time dynamic directive is gonna be created.

And what it means that component's injector was already created without that directive being available in it.
And to instantiate dynamic directive component has to exist, so you can see how it is that it's not possible to provide both entities for each other - the chicken egg problem in a nutshell.

[2018-12-14 00:18] sandorfr commented on #209
Sorry by advance if I sound harsh, but I'm really trying to help and also understand what has to be done to make it work. If I can come up with a good solution. I'd like to submit a PR.

I don't get why it's a problem. But yes the component is instantiated first

It's the normal behavior of directive, they are not created in the component but on top of it and "attached"

I don't get the need for a

[2019-01-20 18:55] pharindoko opened #214 "Error when building prod version"
Hi,
Recognized first when building my application in travis ci
Issue does not occur using v 4.0.1 / 3.1.2

Version: **4.0.2** used in Angular CLI Application 7.2.2 with @angular packages v. 7.2.0 / 7.2.1
Commands tested:
FAIL - ng build ngx-chartboard-sample **--prod --aot**
FAIL - ng build ngx-chartboard-sample **--prod**
WORKS - ng build ngx-chartboard-sample

Error:

ERROR in ./src/app/ngx-char

[2019-03-12 23:07] gund opened #221 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-03-13 13:45] gund commented on #221
Was caused by multiple commits to master - not an issue.

[2019-03-13 13:45] #221 closed

[2019-03-17 22:12] gund commented on #193
Closing due to inactivity

[2019-03-17 22:12] #193 closed

[2019-03-17 22:13] gund commented on #200
Closing due to inactivity

[2019-03-17 22:13] #200 closed

[2019-03-17 22:13] gund commented on #203
Closing due to inactivity

[2019-03-17 22:13] #203 closed

[2019-03-17 22:16] gund commented on #214
Does this still occur?

[2019-04-01 10:22] greenkeeper[bot] opened #224 "An in-range update of uglify-js is breaking the build 🚨"
## The devDependency [uglify-js](https://github.com/mishoo/UglifyJS2) was updated from `3.5.2` to `3.5.3`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fuglify-js-3.5.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

uglify-js is a devDependency of this project.

[2019-04-02 14:42] jbx-alex opened #225 "Problem when building project"
Hi,
I am using the library `@wishtack/reactive-component-loader` that import this library and when building my project I have some errors.

I am using Angular 7 with Meteor 1.8 with MeteorCLI -> https://github.com/Urigo/angular-meteor/tree/master/examples/MeteorCLI/all-in-one

Yjaaidi believes that it may be because this file `ng-dynamic-component/dynamic/io.service` is bundled as is even though i

[2019-04-02 19:03] gund commented on #225
Hi, I see what's the issue.

The thing is that `IoService` is private internal service that was not meant to be exposed as a public API.

So that library basically accessed private API via `import { IoService } from 'ng-dynamic-component/dynamic/io.service';` import which should not have worked in the first place, unless they've done some hacks to make that work...

So I think that has to be chang

[2019-04-02 19:03] #224 closed

[2019-04-03 06:19] jbx-alex commented on #225
Perfect, thanks for answering

[2019-04-10 08:27] AngularPlayer commented on #209
Hello, i have the same error with the NgModel directive

[2019-04-15 18:09] #214 closed

[2019-04-16 17:38] yjaaidi commented on #225
Hi everyone,
In fact, `@wishtack/reactive-component-loader` is highly coupled to `ng-dynamic-component` as it is meant to inject & lazy load components with one single directive.
I only saw three possibilities at that time:
1. Rewriting similar logic from `ng-dynamic-component` in `@wishtack/reactive-component-loader`,
2. Hacking into `IoService`,
3. Implementing dynamic component injection with i

[2019-04-16 21:53] gund commented on #225
@yjaaidi thanks for the feedback.

I would like to help you to solve the problem but I'm failing to see what exactly `@wishtack/reactive-component-loader` is trying to do and thus what part of this library it requires to use...

Maybe if I understand better we can find more proper solution without hacking around private APIs =)

[2019-04-17 15:57] taivu commented on #145
@vdzundza hey do you have a more fleshed out example? im having this issue too.

[2019-04-18 15:04] greenkeeper[bot] opened #231 "An in-range update of commitizen is breaking the build 🚨"
## The devDependency [commitizen](https://github.com/commitizen/cz-cli) was updated from `3.0.7` to `3.1.0`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fcommitizen-3.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

commitizen is a devDependency of this proj

[2019-04-21 01:25] greenkeeper[bot] opened #233 "An in-range update of uglify-js is breaking the build 🚨"
## The devDependency [uglify-js](https://github.com/mishoo/UglifyJS2) was updated from `3.5.5` to `3.5.6`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fuglify-js-3.5.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

uglify-js is a devDependency of this project.

[2019-04-22 05:31] viethien opened #234 "ngOnInit not work when call ndc-dynamic"
I use ndc-dynamic component to display Compomnent in list.

Component display well on single page because it call `ngOnInit `but ngOnInit did not trigger in ndc-dynamic.
`<ndc-dynamic class="no-drag" [ndcDynamicComponent]="item.component" (ndcDynamicCreated)="componentCreated($event)"></ndc-dynamic>`

I tried (ndcDynamicCreated)="componentCreated($event)" but it still did not trigger to componentC

[2019-04-25 05:15] DeepakArora76 opened #236 "How to use ng-dynamic-component across multiple lazy loaded (visited) modules (pages)?"
What I have in my mind is to use available directives from `ng-dynamic-component` in the root module without registering `(without importing DynamicModule.withComponents) `dynamic components (which are available in some other lazy loaded modules).

Appreciate an example on this.

[2019-05-06 23:50] greenkeeper[bot] opened #241 "An in-range update of @commitlint/config-conventional is breaking the build 🚨"
## The devDependency [@commitlint/config-conventional](https://github.com/conventional-changelog/commitlint) was updated from `7.5.0` to `7.6.0`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2F%40commitlint%2Fconfig-conventional-7.6.0).

This version is **covered** by your **current version range** and after updating it in your project **t

[2019-05-13 03:51] minuz commented on #209
Hi @gund, any update on this issue?

[2019-05-13 10:40] gund commented on #209
Hey, sorry I did not look into this issue for quite some time.

Again as I said before I do not see how we can resolve this problem as it is recursive - you need to have component created in order to resolve directives, but you also need to have directives to create component...

We have to analyse dependencies of component and directives before their creation in order to prioritise the order of i

[2019-05-13 10:41] #241 closed

[2019-05-13 10:42] #233 closed

[2019-05-15 09:39] greenkeeper[bot] opened #243 "An in-range update of lint-staged is breaking the build 🚨"
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `8.1.6` to `8.1.7`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Flint-staged-8.1.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lint-staged is a devDependency of this

[2019-05-16 15:11] CaptainMat commented on #175
Hello, is it possible to report this fix in V2.X ?

[2019-05-16 23:50] #231 closed

[2019-05-16 23:50] #243 closed

[2019-05-16 23:57] gund commented on #234
Hey @viethien thanks for reporting this.

Actually you are right, if you simply use `ndc-dynamic` component without `ndcDynamicInputs` directive then on init hook will not be called.

I'm not quite sure if on init will be called with that directive now that I've checked the specs...

This is definitely a bug and should be fixed.

[2019-05-16 23:59] gund commented on #236
You can always pass empty array to `DynamicModule.withComponents([])` in your root module.

And then in your lazy modules just import `DynamicModule` to get directives/components.

Will that work for you?

[2019-05-19 08:40] roseyda commented on #236
Hi,
My question may be stupid, but I don't understant how it is possible to lazy load component with ng-dynamic-component.
Is lazy loading possible with this library ?
If yes, how ?

Thanks in advance for your feedback

[2019-05-20 09:40] Sebush opened #245 "ie11"
Hi,

we need ie11-compatibility.
is it possible to deploy a well transpiled package to npm-repo?

[2019-05-20 20:44] DeepakArora76 commented on #236
I have come up with my own solution. Below is snippet for your reference. I will not be getting into the details of it.

[code]

[2019-05-20 21:19] gund commented on #245
As far as I can tell es5 bundle should be good to go in IE11...

Did you try to use it in your app with IE11? If so what kind of error did you get?

[2019-05-20 21:37] gund commented on #236
@DeepakArora76 thanks for sharing your solution. However I should point a important thing:
you do not need to recompile existing module factory to get it's component factories since it already was compiled. You can directly access factories when module is created via `moduleRed.componentFactoryResolver` (see https://angular.io/api/core/NgModuleRef)

Regarding example for @roseyda I think the simpl

[2019-05-20 21:46] roseyda commented on #245
+1 I'ma facing the same issue.
Actually, I'm using reactive-component-loader library (https://github.com/wishtack/wishtack-steroids) which depends on ng-dynamic-component.
But even when building my app with es5 in my tsconfig.json, I get ng-dynamic-component es2015 code included in my vendor.js
Thus IE11 complains because it don't kwon "class" keyword.

[2019-05-20 23:04] yjaaidi commented on #225
Hi Alex,

I think that https://github.com/gund/ng-dynamic-component/issues/245 is related to this issue.

`@wishtack/reactive-component-loader` lazy loads components on demand which could be inserted using `ngComponentOutlet` but in order to pass inputs and outputs, it's using `ng-dynamic-component`. Cf. https://medium.com/wishtack/angular-lazy-loading-without-router-471166580c86

One of the ways

[2019-05-20 23:06] yjaaidi commented on #245
I guess this is related to this issue https://github.com/gund/ng-dynamic-component/issues/225.
I might get rid of `wtLazy` structural directive in `@wishtack/reactive-component-loader` (but still keep the `wt-lazy` component of course) to fix the issue.

[2019-05-23 07:55] gund commented on #225
Hi @yjaaidi,

Thanks for your clarifications.

Now I checked the `wtLazy` directive and have clearer idea of how it's working.

Regarding your proposed solutions to the issue:
- Getting rid of course will remove the problem but also the feature so does not look too compelling to me =)
- Exporting `IoService` even with private prefix is not a solution since it's going to be public and the whole poi

[2019-05-23 11:56] yjaaidi commented on #225
Hi Alex,

Thank you for your detailed review.
Actually, extending `DynamicDirective` was the first thing I experience and I don't really remember why it went wrong and end up with hacking through and coupling the implementation to `DynamicDirective` internals.

I'll give it a try again 😊

Thanks.

[2019-05-23 12:08] yjaaidi commented on #225
Oh! Now I remember the limitation I met. I need to inject `ReactiveComponentLoader` service.

That would look something like this:
[code]

So I have to call the parents constructor and inject the services it needs... which include `IoService` that I have to import... but it's internal :/

[2019-05-23 18:16] taivu commented on #245
can you show example code to import the library's es5 bundle?

[2019-05-23 18:36] gund commented on #245
This is what happens by default when you build using angular CLI.

Otherwise you have to manually specify which field to resolve inside your webpack config from the package.json files.

You can check out how to configure this here: https://webpack.js.org/configuration/resolve/#resolvemainfields

This lib will have ES5 build inside `module` field, so it should be the first in the list (ref: https:/

[2019-05-23 19:04] gund commented on #225
Oh I see. That's unfortunate...

Well we can go around from the other side - extend `NgComponentOutlet` directive.

Essentially you want your custom component resolution to be integrated with `ndcDynamicInputs/Outputs` so you can very well provide your extended version of `NgComponentOutlet` to the `ndcDynamicInputs` directive by registering it under [`COMPONENT_INJECTOR`](https://github.com/gund/

[2019-05-23 19:31] roseyda commented on #245
Hi all,
On my case, the is was comming from reactive-component-loader library.
And now my issue is fixed

[2019-05-23 19:33] roseyda commented on #236
Hi @DeepakArora76  and @gund
Thanks a lot for your feedback

[2019-05-24 15:42] taivu commented on #245
ohhh. got it. thank you for the explanation!

[2019-05-27 12:40] yjaaidi commented on #225
Hi Alex, thank you very much for your help.
The idea is brilliant!!! I tried it but I encountered the following issues:

### 1. `LazyDirective` injection issue
I guess you meant:
[code]
instead of `useExisting` because it should provide the `LazyDirective` class and not the instance which is then injected manually by `DynamicDirective`.

Problem is that this always ends up with `IoService: Compone

[2019-06-01 15:51] greenkeeper[bot] opened #250 "An in-range update of webpack-dev-server is breaking the build 🚨"
## The devDependency [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was updated from `3.5.0` to `3.5.1`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fwebpack-dev-server-3.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-dev-serve

[2019-06-24 07:51] #250 closed

[2019-06-27 05:52] patrickschroeter opened #257 "Update dependencies to Angular 8"
When using ng-dymaic-component with the latest Version of Angular you get an error while installing npm packages:

`ng-dynamic-component@4.0.2 requires a peer of @angular/common@^7.0.0 but none is installed. You must install peer dependencies yourself.`

[2019-06-28 23:19] gund commented on #257
Hi, I do not think this is an error but rather a warning from `npm`.

Probably you can ignore it and it still will work.

However I will actually update it to Angular 8 and PR is always welcome =)

[2019-07-02 15:05] gund commented on #257
Released in [`v5.0.0`](https://github.com/gund/ng-dynamic-component/releases/tag/v5.0.0)

[2019-07-02 15:05] #257 closed

[2019-07-08 14:50] greenkeeper[bot] opened #265 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.35.2` to `4.35.3`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fwebpack-4.35.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It

[2019-07-09 19:03] greenkeeper[bot] opened #266 "An in-range update of copyfiles is breaking the build 🚨"
## The devDependency [copyfiles](https://github.com/calvinmetcalf/copyfiles) was updated from `2.1.0` to `2.1.1`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fcopyfiles-2.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

copyfiles is a devDependency of this p

[2019-07-18 01:01] greenkeeper[bot] opened #269 "An in-range update of commitizen is breaking the build 🚨"
## The devDependency [commitizen](https://github.com/commitizen/cz-cli) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fcommitizen-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

commitizen is a devDependency of this proj

[2019-07-19 00:34] greenkeeper[bot] opened #273 "An in-range update of @types/jasmine is breaking the build 🚨"
## The devDependency [@types/jasmine](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `3.3.13` to `3.3.14`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2F%40types%2Fjasmine-3.3.14).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jasmin

[2019-07-29 23:15] greenkeeper[bot] opened #275 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `24.0.15` to `24.0.16`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2F%40types%2Fjest-24.0.16).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest is a

[2019-07-30 22:56] greenkeeper[bot] opened #276 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.13.18` to `15.13.19`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fsemantic-release-15.13.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

seman

[2019-08-06 11:23] stefan1st opened #277 "PrimeNG dropdown component in reactive forms with ndc"
My component looks like this :

[code]

How do I inject `formControlName="second"` to `<p-dropdown>`

I did something like this:

[code]

	<ndc-dynamic [ndcDynamicComponent]="generateComponent()"
		[ndcDynamicInputs]="generateInputs()" [ndcDynamicAttributes]="attrs">
	</ndc-dynamic>

But it injects the on app-dropdown.

I've also checked this question: https://stackoverflow.com/questions/47402327/

[2019-08-07 06:42] cice opened #278 "Dynamic directives do not work with AOT"
Using dynamic directives in production/AOT-compiled code does not work. The reason is quite simple: the dynamic directive application needs the decorator metadata to work, but this is stripped away in AOT.
I don't know of any way to tell the compiler to keep the metadata (and doubt that it is desirable)?
Anyway, i think this is a very fundamental restriction, and could may be mentioned in the docu

[2019-08-08 01:52] popoleeMaster opened #279 "Updating inputs values with ngDynamic"
I have the following angular 7 code with [ng-dynamic-component][1] and [gridster2][2].

=> component.ts

    @Component({
      selector: 'app-navigation-index',
      templateUrl: './navigation-index.component.html',
      styleUrls: ['./navigation-index.component.less']
    })

    export class NavigationIndexComponent {
      // The Id for the child maps that will be synched
      synchGroupId:

[2019-08-08 01:56] #279 closed

[2019-08-09 20:08] gund commented on #277
Hi, there is actually a limitation with `formControlName` usage - you cannot use it in dynamically rendered component if your `formGroup` is living outside of it. This is because of how currently DI resolution works (it simply does not see parent view tokens from dynamic components as they are rendered at runtime).

I've worked around this issue in my other library I'm currently working on - [orch

[2019-08-09 20:18] gund commented on #278
Hi, thanks for reporting this issue.

You are right that reflect metadata is not available in production mode.

There might be possible case to resolve missing reflect metadata without relying on reflection - we can find out where Angular stores that data - and access that instead.

But I will have to check the format of that data before proceeding with new implementation.
Also if you want you can

[2019-08-09 20:19] #276 closed

[2019-08-09 20:19] #275 closed

[2019-08-09 20:19] #273 closed

[2019-08-09 20:19] #269 closed

[2019-08-09 20:19] #266 closed

[2019-08-09 20:19] #265 closed

[2019-08-09 20:20] gund commented on #245
Closing as this seems to be resolved.

[2019-08-09 20:20] #245 closed

[2019-08-09 20:20] gund commented on #236
Closing as this seems to be resolved.

[2019-08-09 20:20] #236 closed

[2019-08-09 22:11] greenkeeper[bot] opened #281 "An in-range update of webpack-dev-server is breaking the build 🚨"
## The devDependency [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was updated from `3.7.2` to `3.8.0`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fwebpack-dev-server-3.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-dev-serve

[2019-08-10 15:12] #281 closed

[2019-08-13 18:29] greenkeeper[bot] opened #283 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.39.1` to `4.39.2`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fwebpack-4.39.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It

[2019-08-13 19:14] greenkeeper[bot] opened #284 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.13.20` to `15.13.21`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fsemantic-release-15.13.21).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

seman

[2019-08-14 00:32] greenkeeper[bot] opened #285 "An in-range update of rimraf is breaking the build 🚨"
## The devDependency [rimraf](https://github.com/isaacs/rimraf) was updated from `2.6.3` to `2.7.0`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Frimraf-2.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rimraf is a devDependency of this project. It **might

[2019-08-16 06:34] cice commented on #278
I will check it out. Thx btw for that great package!

[2019-08-16 17:27] zircon63 commented on #209
@sandorfr can use my lib for dynamic components : https://github.com/zircon63/ng-torque, this resolve your problem

[2019-08-19 18:07] greenkeeper[bot] opened #289 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `24.0.17` to `24.0.18`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2F%40types%2Fjest-24.0.18).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest is a

[2019-09-05 10:36] cristreet opened #293 "Problem on setting inputs for a component duplication (same comp rendered more then one time)"
In my case I have a list of components that I render using a *ngfor:

[code]
where "components" is an array containing the components list to render.

My problem occur when in this comps list there are more then one the same component, in that case the inputs of the second component will overwrite the first componet inputs.

How can I do in order to have differents instances for each component?

[2019-09-05 15:33] gund commented on #293
Hi, I'm not sure I fully understand your issue.

Would it be possible for you to create live example on stackblitz.com to show the problem?

[2019-09-05 15:33] #289 closed

[2019-09-05 15:33] #285 closed

[2019-09-05 15:33] #284 closed

[2019-09-05 15:33] #283 closed

[2019-09-05 15:33] cristreet commented on #293
It was an error, in my code, about the inputs instance and not about the component.
Thanks

[2019-09-05 15:33] #293 closed

[2019-09-12 19:39] greenkeeper[bot] opened #295 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.39.3` to `4.40.0`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fwebpack-4.40.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It

[2019-09-13 11:33] #295 closed

[2019-09-13 15:08] greenkeeper[bot] opened #296 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.40.1` to `4.40.2`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fwebpack-4.40.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It

[2019-09-16 14:25] greenkeeper[bot] opened #298 "An in-range update of webpack-dev-server is breaking the build 🚨"
## The devDependency [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was updated from `3.8.0` to `3.8.1`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fwebpack-dev-server-3.8.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-dev-serve

[2019-09-20 02:36] greenkeeper[bot] opened #300 "An in-range update of codecov is breaking the build 🚨"
## The devDependency [codecov](https://github.com/codecov/codecov-node) was updated from `3.5.0` to `3.6.0`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fcodecov-3.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

codecov is a devDependency of this project. I

[2019-09-23 07:43] nickbullock commented on #278
@gund  @cice maybe this option in tsconfig will help
[code]

[2019-09-23 07:48] nickbullock opened #302 "[feature request] Can this package provide utils to create dynamic directives from controller?"
First of all, thank you @gund - this package solved a lot of my problems with dynamic components.
We already can add dynamic components through HTML like
[code]
But can we have API to do it from component class?
Something like
[code]
?

[2019-09-23 19:43] gund commented on #278
@nickbullock this information generated by Typescript is stripped by the angular compiler in AOT mode.

[2019-09-23 19:49] gund commented on #302
I think right now you can simply push more [`DynamicDirectiveDef`s](https://github.com/gund/ng-dynamic-component/blob/32acb4185c3f54cb6f5bf5894c0125f107b8e362/src/dynamic/dynamic-directives.directive.ts#L27) into array that is bound to `[ngDynamicDirectives]="dirs"` like so:

[code]

And then change detection will kick in and apply those directives.

Let me know if this does not work in your case

[2019-09-24 06:31] nickbullock commented on #302
@gund my case is when we don't have access to html directly, but will have elementRef later in runtime. So i can't bind ```this.dirs```,  because i just don't know the place for it at the moment.
But for example we got ElementRef or ComponentRef later. Can we do something to add directives really dynamically?

[2019-09-25 21:11] gund commented on #302
Well right now all the logic for managing dynamic directives lives inside the `DynamicDirectivesDirective` - which means that you can actually get that instance from the `ElementRef` where it is attached to and update directives manually there:

[code]

With this approach you can pass `DynamicDirectivesDirective` instance anywhere in your code and preform any sort updates with directives.

It does

[2019-09-25 21:13] #296 closed

[2019-09-25 21:13] #300 closed

[2019-09-25 21:14] #298 closed

[2019-10-02 18:18] atgillette opened #307 "Can't get ndcDynamicDirectives to work"
Hi,

I'm trying to use ndcDynamicDirectives to set fxFlex directive for Angular Flex-Layout.  In my component class file, I defining a dirs property like this:

`
dirs: [
              dynamicDirectiveDef(
                FlexDirective,
                {
                  fxFlex: '50%'
                }
              )
            ]
`

And in the component template, I'm using the following code:

[2019-10-03 06:32] gund commented on #307
Hi, it will be good if you could open source code tab in Dev tools where error appeared and make a screenshot - so I can see where it occured.

One possibility is that some table does have `dirs` property as `undefined`...

[2019-10-03 07:54] dhavalsolanki opened #308 "Issue when loading same component on two tabs on same page"
Hello,
I have created a demo of loading gridster dynamically and creating multiple tabs. But when i am loading same component on multiple tabs UI gets disturbed.
As shown in image of tab 1

![Gridster1 (2)](https://user-images.githubusercontent.com/5657449/66108867-1e48ca80-e5e1-11e9-94c5-6acb6426a743.png)

image of tab 2

![Gridster2 (2)](https://user-images.githubusercontent.com/5657449/66108884

[2019-10-03 20:25] gund commented on #307
Duplicate of #278

Please follow that issue for further resolution.

[2019-10-03 20:25] #307 closed

[2019-10-03 20:30] gund commented on #308
Hi, this is too abstract.

Can you please create minimal demo on stackblitz.com that shows the issue?

[2019-10-03 23:01] atgillette commented on #307
hi @gund,

I added `"emitDecoratorMetadata": true,` and it did not help.

[2019-10-04 15:52] gund commented on #307
This is not going to help as said in https://github.com/gund/ng-dynamic-component/issues/278#issuecomment-534253949

There is currently no workaround for AOT compiled apps.

Please stay tuned in the issue mentioned above.

[2019-10-10 09:41] epoch79 commented on #293
How did you pass the input from template. i have the same issue

[2019-10-14 07:32] cristreet commented on #293
Just passing a new instance of the input item, in my example "dashboardItem". I am using the drang & drop for passing components to ndc-dynamic and during the drag start I am creating a new instance of that component.

[2019-10-14 07:32] cristreet commented on #293
Just passing a new instance of the input item, in my example "dashboardItem". I am using the drang & drop for passing components to ndc-dynamic and during the drag start I am creating a new instance of that component.

[2019-10-14 07:59] epoch79 commented on #293
thank you..

[2019-10-16 11:52] dhavalsolanki opened #313 "Issue in sending inputs when using ng-dynamic-component in ngb-modal"
Hello,

We are loading ng-dynamic-component inside the  ngb-modal. In that case when we are sending input we are getting inputs undefined. But when we are sending the inputs in direct page, we are getting the exact inputs that we are passing.

Thanks in advance.

[2019-10-21 21:40] gund commented on #313
Can you please create a small demo so I can see the problem?

[2019-11-18 02:00] greenkeeper[bot] opened #322 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.13.30` to `15.13.31`.

🚨 [View failing branch](https://github.com/gund/ng-dynamic-component/compare/master...gund:greenkeeper%2Fsemantic-release-15.13.31).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

seman

[2019-11-20 00:20] #322 closed

[2020-01-02 23:04] gund commented on #313
I'm closing this due to inactivity.
Please open a new issue if you still this problem.

[2020-01-02 23:04] #313 closed

[2020-01-02 23:04] gund commented on #308
I'm closing this due to inactivity.
Please open a new issue if you still this problem.

[2020-01-02 23:04] #308 closed

[2020-01-02 23:06] gund commented on #302
I'm closing this due to inactivity.
Please open a new issue if you still this problem.

[2020-01-02 23:06] #302 closed

[2020-01-02 23:07] gund commented on #277
I'm closing this due to inactivity.
Please open a new issue if you still this problem.

[2020-01-02 23:07] #277 closed

[2020-01-04 13:01] maadc commented on #68
Hey there,
I got a similar problem. I want to change the component-variable and render a new one in this tag.
When I am initializing the variable with different components it works fine.

Now I got this changeComponent function, but it is not working.

You can find this project in my repo: https://github.com/maadc/wir-app/blob/master/src/app/viewfield/viewfield.component.ts

`import { Component} f

[2020-01-07 11:40] alastair-todd opened #328 "Understanding withComponents"
I am confused about the module imports for this library.

I have a generic data table in one Module which will do the dynamic loading of components declared in another module.

[code]

How to I use `withComponents `in this scenario since `GenericDataTableModule `should have no knowledge of `SpecificDataTableModule` ?

Worth noting: `GenericDataTableModule  `and `SpecificDataTableModule` are in ng

[2020-01-07 16:13] gund commented on #328
Hi, you do not need to provide components in AppModule imports if they are already provided in other module. Simply pass empty array to import function.

[2020-01-08 13:06] Platonn opened #331 "Usage of local template variables in output callbacks (for example in *ngFor)"
Sometimes it's important to access not only the argument `$event`, but also the local template variables in the output callback, i.e. the array element (or index) coming from `*ngFor`. I propose below some solution, but I'm curious if you have any better approach or suggestions:

We could define an object for `[outputs]` not in the component controller (TS), but in the template (HTML), inside `*ng

[2020-01-08 18:05] gund commented on #331
Hi @Platonn,

Thanks for the idea - I think it makes sense.

What I have in mid is to create a helper pipe that will take a callback function and then any arguments will be memorised and combined with the `$event` variable.

It may look something like this:
[code]

What do you think about this use-case?

[2020-01-20 16:58] kevinsuarez-recycob commented on #328
some example?

[2020-01-20 19:30] gund commented on #328
As simple as:
[code]

[2020-01-20 20:12] alastair-todd commented on #328
This wasn't necessary for me...the import in the library module was enough

[2020-01-20 20:13] #328 closed

[2020-01-27 15:55] Platonn commented on #331
Hi @gund, thanks. Pipe is a nice performance improvement, indeed. Personally I like it short `ndcArgs`.
For flexibility of the arguments' order, what do you think about a custom placeholder for `$event`, i.e. a global `ndcEvent` singleton object, i.e. `someFunc | ndcArgs : param1 : ndcEvent : param2`. The drawback is that this placeholder needs to be exposed by the TS controller class of the curre

[2020-01-27 16:14] Platonn opened #336 "Question: the usecase of DynamicDirective.ngOnChanges and ngDoCheck"
Hi @gund,

I'm trying to fully understand the code of the `dynamic.directive` (and related `io.service`). And I'm not sure why do we need both `DynamicDirective.ngDoCheck` and `DynamicDirective.ngOnChanges` implementation.

What interesting may happen between the lifecycle hooks `DynamicDirective.ngOnChanges` and `DynamicDirective.ngDoCheck` so that we need to run `io.maybeUpdate()`? AFAIK `ngDoCh

[2020-01-28 22:44] gund commented on #336
Hi @Platonn,

Well the answer is quite simple - we use `OnChanges` hook to run updates when we know exactly what changed and `DoCheck` when we do not know for sure - and use `Differs` to find out changes in inputs manually.

- `OnChanges` hook will be used when the user updates the inputs object reference
- `DoCheck` is used to detect possible mutations in inputs objects done by the user

[2020-01-28 22:48] gund commented on #331
I think that it's not a good idea to introduce some kind of a custom variable like `ndcEvent` for passing the `$event` argument to the event handler.

Rather we can just bind the template arguments first to the handler function and then make the `$event` argument always last by convention.
In this way we will not have to create extra stuff in templates and just assume that event is always the last

[2020-01-29 12:45] alastair-todd opened #343 "Question: observable as output?"
I tend to avoid `EventEmitter `in favour of `Observable`

But I'm not sure how to bind outputs to an observable, as outputs appears to be pretty opinionated about them being EventEmitter?

[2020-01-29 13:03] #343 closed

[2020-01-29 14:31] Platonn commented on #331
Totally agreed.
A custom variable was proposed only as a backup solution to support an edge case: when you already have a method with the event as not-last arg _and_ you don't want to change the order of arguments (due to various reasons, i.e. you are library author who wants to avoid breaking changes).

That being said, a custom pipe and custom variable handling such an edge cases can be implemen

[2020-01-29 14:56] Platonn commented on #336
Maybe I'm missing something, please correct me then. But as far as I can understand, `DoCheck` is able to detect both mutations and the update of the whole inputs object reference. Angular differ which is used under the hood (in OnChanges and in DoCheck) cares only about shallow-comparing the properties of the inputs object (no matter the reference).

If above reasoning is correct, I think `OnChan

[2020-01-29 19:21] gund commented on #331
Alright, so we can agree on creating `ndcArgs` pipe that will bind a function with template arguments and pass `$event` variable as a last argument.

I may work on this at some time later but if you have a time - PR is very welcome =)

[2020-01-30 14:20] gund commented on #336
`DoCheck` hook is called every time Change Detection pass happens in current component - which is where I'm tracking mutations because angular does not do that.
`OnChanges` is triggered when a user made an update without mutation - so there is no need to do manual change detection in this case.

Which is why now in `IoService` we have
- `update()` - which is triggered by `OnChanges` and is definit

[2020-02-11 09:20] ksharonov opened #351 "Angular since 9.0.0 entryComponents is Deprecated with Ivy. What about ng-dynamic-component of ivy support?"
What about support of ivy? Because "content.component.html:2 ERROR Error: No component factory found for NameComponent. Did you add it to @NgModule.entryComponents?"

[2020-02-11 09:59] #351 closed

[2020-02-18 14:19] f1ght4fun opened #352 "Errors after compilation"
Hi,

ERROR in ../node_modules/ng-dynamic-component/lib/component-outlet-injector.directive.d.ts:6:9 - error TS1086: An accessor cannot be declared in an ambient context.

6     get componentRef(): ComponentRef<any>;
[code]
../node_modules/ng-dynamic-component/lib/dynamic-attributes.directive.d.ts:21:17 - error TS1086: An accessor cannot be declared in an ambient context.

21     private get _nativ

[2020-02-18 14:29] #352 closed

[2020-03-06 15:30] ciesielskico opened #355 "What's the usecase of this and what does it solve what Angular doesn't already do?"
Pretty much the title, I've taken over a project from someone and I don't see the benefit of using this library. Don't treat this as an insult but rather a question for an update for the readme.md to maybe add a sentence or two about what this library solves :)

[2020-03-06 15:35] gund commented on #355
This pretty much explains main use-case: https://github.com/gund/ng-dynamic-component#inputs-and-outputs.
There are other things that this lib provides - but main focus is on complete inputs/outputs support

[2020-03-08 17:55] ciesielskico commented on #355
Ok so to understand what this lib does over what Angular doesn't provide out of the box - in Angular we can use `ng-container` with `*ngComponentOutlet` but not pass `@Input` and `@Output` parameters, and this lib enables us to do exactly that?

[2020-03-08 20:07] gund commented on #355
Yes, that is correct.

[2020-03-11 09:31] ciesielskico commented on #355
Thanks

[2020-03-11 09:31] #355 closed

[2020-03-13 06:46] gund commented on #331
:tada: This issue has been resolved in version 6.1.0-next.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/6.1.0-next.1)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v6.1.0-next.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-13 07:05] #331 closed

[2020-03-13 07:08] gund commented on #331
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/6.1.0)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-14 18:23] guypeled1 opened #359 "No component factory found"
Hi,
I got this message what does it means?
the code is:

ts file:
`
component = "QuestionnaireComponent";
`

html file:
`
 <ndc-dynamic [ndcDynamicComponent]="component"></ndc-dynamic>
`

I import the DynamicComponentModule like in the instructions.

Thanks,
Guy

[2020-03-14 19:06] guypeled1 commented on #359
the full error is:
 No component factory found for QuestionnaireComponent. Did you add it to @NgModule.entryComponents?

[2020-03-14 19:53] guypeled1 opened #360 "An accessor cannot be declared in an ambient context - during compiling"
I get this error when compiling.
how can I solve this?

[2020-03-14 19:54] guypeled1 commented on #360
node_modules/ng-dynamic-component/lib/component-injector/component-outlet-injector.directive.d.ts:6:9

[2020-03-15 13:09] gund commented on #359
If you are using Angular v8 or v9 with old View Engine then you should downgrade the library to v5 as the latest version is for Ivy engine.

Or you can still use latest version and register your dynamic components via [ANALYZE_FOR_ENTRY_COMPONENTS](https://angular.io/api/core/ANALYZE_FOR_ENTRY_COMPONENTS) DI token.

[2020-03-15 13:11] gund commented on #360
Can you pls specify during which compile phase is this happening: `ngcc` or `ngc` (when your app is compiled)?

[2020-03-28 11:43] ram-thekratos opened #364 "Structural directives not recognised in dynamic components"
I've successfully created components and added them dynamically using <ndc-dynamic>.

In my. child component, I have a simple ngIf which will hide or show a button based on an input.

When I run this code, I get an error saying, `core.js:12557 Can't bind to 'ngIf' since it isn't a known property of 'ng-template'.`

I'm using Angular 9.1.0 and ng-dynamic-component 6.1.0

My dashboard HTML code:

`<

[2020-03-28 13:56] gund commented on #364
Usually when a component does not see standard angular directives it means you forgot to import `CommonModule` from `@angular/common` into the module where you declared your dynamic component.

Pls make sure that you have it and if the error persists, I would like to ask to create a simple demo that reproduces this error so I can investigate further.

[2020-03-29 00:01] xVinCe commented on #360
@guypeled1 I had the same problem, was due to having the wrong version: If you are on Angular 8 you should have 5.x.x as mentioned here https://github.com/gund/ng-dynamic-component#ng-dynamic-component

[2020-04-06 15:56] gund commented on #360
Closing this as it is solved. Please create new issue if you still have this error.

[2020-04-06 15:56] #360 closed

[2020-04-07 08:43] thepian opened #367 "@Input is set every time anything changes"
It seems that updateInputs sets all inputs regardless of what has changed. If you use a setter for an input it gets called every time anything is changed. Is there a way around this? Or can it be considered a bug?

[2020-04-07 12:47] gund commented on #367
Thanks for creating an issue.

It would really help if you could create a simple example of the issue on online sandbox (like stackblitz or codesandbox) so I can investigate the cause of this behavior.

[2020-04-08 15:12] nlapointe-factory opened #368 "xi18n : Error with DynamicModule import"
Hi,
The command `ng xi18n` generates error:

Just with an import in a module (ex.: in app.module.ts). I tried with DynamicComponentModule, same error (with 'DynamicComponentModule' in message)

Versions:
Angular: 9.1.0
Angular-cli: 9.1.0
ng-dynamic-component: 6.1.0

[2020-04-11 22:53] gund commented on #368
This could be due to the barrel re-exports that exists also when building in some projects with ng-packagr (see #365)

Please give a try to the version without barrels (tag `@no-barrels` on NPM) and let me know if it fixes the issue.

[2020-04-13 16:18] nlapointe-factory commented on #368
Hey gund, working great with no-barrels (this one: 6.1.1-no-barrels.1 )

Many thanks

[2020-04-13 16:18] #368 closed

[2020-04-13 23:08] gund commented on #368
Awesome!

I will keep the fix in separate tag for now until the [bug upstream](https://github.com/angular/angular/issues/20931) is resolved.

And then, hopefully, there will be no need for this extra tag =)

[2020-04-13 23:22] gund opened #369 "[Bug] ERROR: Unexpected value 'undefined' imported by the module"
You may or may not encounter this error during your library build or xi18n build.

Error will look like:
[code]

Regardles of the module - the reason is the bug upstream all the way in [Angular compiler](https://github.com/angular/angular/issues/20931).

Until that bug is fixed and release in all toolchain stream (`@angular/compiler` -> `@angular/cli` -> `ng-packagr`) you should use special NPM ta

[2020-04-30 15:15] roopeshreddy commented on #369
We've tried the tag - `^6.1.1-no-barrels.1` and looks like this issue is resolved. Are you planning push it to stable release?

[2020-05-02 12:36] GlauberF opened #371 "Bug Error Angular 9 | Importing DynamicComponentModule which does not have a ɵmod property"
[code]

I tested using the versions:
ng-dynamic-component@^6.0.0
ng-dynamic-component@^6.1.0
ng-dynamic-component@6.1.1-no-barrels.2

Angular:
[code]

[2020-05-04 10:39] gund commented on #371
Hi, does this error happen only when you import `DynamicComponentModule` or for other modules as well?

[2020-05-04 10:40] GlauberF commented on #371
only when I import DynamicComponentModule

[2020-05-11 11:06] GlauberF commented on #371
@gund any news to fix the problem?

[2020-05-11 15:38] GlauberF commented on #371
Hello @gund, I'm closing because the error was in the way that I imported the modules.

Even if you have a solution.
I have an index.ts that exports all the components, so inside where I'm going to use the ng-dynamic-component, I call:
`import * as components from '. /component/index.ts'`

so supposing I want to use the component, badge, declare like this:
`[ngComponentOutlet] ="components['Badge'

[2020-05-11 15:38] #371 closed

[2020-05-21 15:50] tsarevpp opened #372 "Handling of :leave transition doesn't work"
Hi Alex,
I am trying to use your library to create a dialog with multiple steps. It works great so far, however, there is a problem with the `:leave` transition, which is called when component leaves the DOM. I'm not sure whether this is a problem with my code or the library isn't waiting for `ngDestory` to be executed when component is changed. Here is a little snippet to reproduce:
[code]

The c

[2020-05-22 19:16] gund commented on #372
Hi, well when you are rendering components dynamically you should treat them the same way as when you are rendering them say via router. And to animate dynamic components you basically have to apply the same technique as when animation router components - you need to wrap rendering of components in a DOM element and attach to it animation with queries that will find dynamic components in it.

I ha

[2020-05-22 19:24] gund commented on #367
A little update on this topic - it seems like Angular's own Change Detection cycle does the same thing - it sets inputs every time CD pass happens even when actual values did not change.

So it seems like the library behaves in the same compatible way.

I would suggest you to stop using setters and always use life-cycle hooks unless your setters are super trivial.

I will close this issue as this

[2020-05-22 19:24] #367 closed

[2020-05-22 19:26] gund commented on #364
Closing due to inactivity. Please reopen if you still facing the issue.

[2020-05-22 19:26] #364 closed

[2020-05-22 19:27] gund commented on #359
Closing due to inactivity. Please reopen if you are facing this issue.

[2020-05-22 19:27] #359 closed

[2020-05-22 19:27] gund commented on #336
Closing due to inactivity.

[2020-05-22 19:27] #336 closed

[2020-05-28 14:21] tsarevpp commented on #372
Thank you, that is great!

[2020-05-28 14:21] #372 closed

[2020-06-03 13:33] ArnaudFelixParis opened #373 "Can't bind to 'ndcDynamicInputss' since it isn't a known property of 'ndc-dynamic'."
Hello,

I'm getting the errors :
`Can't bind to 'ndcDynamicInputs' since it isn't a known property of 'ndc-dynamic'.`
and
`Can't bind to 'ndcDynamicOutputs' since it isn't a known property of 'ndc-dynamic'.`
when I add the [ndcDynamicInputs] and [ndcDynamicOutputs] inputs binding to `<ndc-dynamic></ndc-dynamic>.`

My template : `
<gridster-item [item]="widget.disposition" *ngFor="let widget of wid

[2020-06-03 19:25] gund commented on #373
Hi, please create a reproduction online on stackblitz so I can see and verify it.
Otherwise I'm not able to help.

[2020-06-15 09:00] trackx2k14 commented on #373
hi Guys,

i  got the same issue...
impossible to load [ndcDynamicInputs] & [ndcDynamicOutputs]

angular 9.1.9 with nx

@NgModule({
  imports: [
    DynamicModule.forRoot(),DynamicIoModule, DynamicComponentModule
  ],
  exports: [
    DynamicPanelComponent

  ],
  declarations: [DynamicPanelComponent]
})
export class SharedUtilityModule {}

tried also in app.module.ts same result

tried all 3 metho

[2020-06-21 22:08] BluefishTom commented on #373
When I try to import DynamicIoModule in app.module.ts, I get "Class DynamicIoModule is not an Angular module."  Angular 6.0.7, ng-dynamic-component 6.1.0

[2020-06-22 17:41] gund commented on #373
@BluefishTom you cannot use v6 with Angular v6. Please read the readme file for more info.

[2020-06-22 17:49] BluefishTom commented on #373
My apologies, I meant Angular 9.0.7.  I need to type more carefully.

[2020-06-22 18:28] gund commented on #373
Oh in that case I would also ask you to please prepare some online demo with the issue because I am not able to help you otherwise.

[2020-07-02 18:12] Vbboi24 opened #377 "Error: Internal error: unknown identifier undefined"
Hello @gund ,

Thanks for this awesome library,

But i am having a problem in importing this as part of my Angular 9 Project.
I explored the issues and i used npm i ng-dynamic-component@6.1.1-no-barrels.1 to avoid the pinned issue.
But yet still, I am quite stuck with this error during ng serve of my app.

Can you please try helping me out here ?

[2020-07-03 09:14] gund commented on #278
I think this issue should be resolved in v7 of this library which is for Angular v10+ since I've updated a way how directive metadata is accessed.
Could you guys please try it to see if it's fixed on v7?

[2020-07-03 09:15] gund commented on #377
Hi, unfortunately I cannot help without an minimal online reproduction example. Could you create one please?

[2020-07-03 09:19] Vbboi24 commented on #377
Hey @gund ,

Thanks for the reply. Sure, Let me please try creating a stackblitz and revert back

[2020-07-09 16:13] roopeshreddy opened #380 "Angular v10 with v7.x version of ng-dynamic-component"
`import { DynamicComponentModule } from 'ng-dynamic-component';` is throwing has no exported member 'DynamicComponentModule'.ts(2305) error.

**I'm using the ng-dynamic-component@^7.0.1**

[2020-07-09 16:44] gund commented on #380
Yes, this was a breaking change as described in the [changelogs](https://github.com/gund/ng-dynamic-component/blob/master/CHANGELOG.md#700-2020-06-28).

You should now use `DynamicModule` to get the component.

[2020-07-09 20:12] roopeshreddy commented on #380
Thanks @gund

I'm now getting this below error -

This was working fine with Angular v9.x and ng-dynamic-component v6.x-barrels.

NOTE: I'm building a library and this was part of it.

[2020-07-09 21:42] gund commented on #380
You need to use `@no-barrels` NPM tag for v7 as well.

[2020-07-09 22:26] roopeshreddy commented on #380
Thanks @gund  It was resolved with this!

[2020-07-09 22:26] #380 closed

[2020-07-11 08:55] maranmaran opened #381 "Can't bind to 'ndcDynamicAttributes'"
Using DynamicIoModule

and defining this
[code]
I get thrown an error in console that I can't bind ndcDynamicAttributes to ng-template

My previous configuration looked like
[code]

However, in latest v7 using Angular 10 I can't import `DynamicComponentModule` because it's not exported anywhere.

What am I missing?

[2020-07-11 09:12] maranmaran commented on #381
Ok I believe I got it to work

Imported DynamicModule solo

usage:
[code]

Is this correct.. ? Seems to be working fine.

[2020-07-11 13:15] gund commented on #381
If you are using v7 - all directives were separated into their own modules.

So if you just need dynamic inputs - `DynamicIoModule`
If you also need dynamic attributes - `DynamicAttributesModule`

I also updated readme to reflect that change.

[2020-07-24 13:06] gund commented on #381
Closing this. If you are having another issue please open a new issue.

[2020-07-24 13:06] #381 closed

[2020-08-02 05:15] popoleeMaster commented on #373
got the exact same problem in 6.1.0 and angular 9, it still compile but

`
    <ng-template let-menu>
      <div class="menu-container">
        <ndc-dynamic
          (ndcDynamicCreated)="componentCreated($event)"
          [ndcDynamicComponent]="type"
          [ndcDynamicInputs]="inputs" <= can't bind
          [ndcDynamicOutputs]="outputs" <= can't bind

        </ndc-dynamic>
      </div>

[2020-08-02 13:19] gund commented on #373
If your app compiles and has no runtime errors it means that everything is correct and fine.
This is most likely an issue with your IDE. Try restarting it. Sometimes opening the module file of the component helps IDE to analyze it.

[2020-08-07 06:54] konuch commented on #377
Do you have Ivy build enabled in your tsConfig file?

[2020-08-07 08:46] gund commented on #377
@konuch I do not think it matters as the library can be compiled by the NGCC to Ivy version.

[2020-08-14 07:35] leeus99 commented on #373
Hi,

I'm currently facing the same issue. Im using Angular 9 with ng-dynamic-component 6.1.0.

[2020-08-14 07:40] leeus99 commented on #373
Hi,

I'm currently facing the same issue. Im using Angular 9 with ng-dynamic-component 6.1.0.

`<ndc-dynamic [ndcDynamicComponent]="currentComponent" [ndcDynamicInputs]="inputs"
                   [ndcDynamicOutputs]="outputs"></ndc-dynamic>`

I can't compile it as it shows "Can't bind to 'ndcDynamicOutputs' since it isn't a known property of 'ndc-dynamic'."

This is what I see when i go into the

[2020-08-14 17:47] yupio commented on #373
I am using v7.0.1 and having a same problem.  Any help is appreciate!

[2020-08-16 15:49] gund commented on #234
Looks like this is not reproducible anymore. See example https://stackblitz.com/edit/angular-ivy-tddmxm?file=src%2Fapp%2Fapp.component.html

If you encounter similar issue feel free to create a new issue.

[2020-08-16 15:49] #234 closed

[2020-08-20 09:51] Marooned-MB opened #389 "Can't use inputs: No provider for InjectionToken ComponentInjector"
I need to use inputs for dynamic components. Since Angular does not have an easy way to do this, I found this module and gave it a try. When I use it passing just a component class, it's working, renders properly. However, when I add inputs, I get such error:
[code]
I've tried different notation just for checking (`<ndc-dynamic [ndcDynamicComponent]="component" [ndcDynamicInputs]="inputs"` and `<n

[2020-08-20 10:47] gund commented on #389
Hi, I would like to ask you to send a link with online demo with the issue you have so I can help you solve it.

[2020-08-20 12:04] Marooned-MB commented on #389
My project is not open but I've tried to recreate the simplest project here:
https://codesandbox.io/s/gracious-wildflower-mgu5z?file=/src/app/app.component.html
When you uncomment tags with inputs the site breaks with NullInjector. Did I miss something?
Thanks

[2020-08-20 15:15] gund commented on #389
With v4 you need to read the [documentation for v4](https://github.com/gund/ng-dynamic-component/tree/v4.0.0#usage). You missed specific import `withComponents()`:
[code]

See fixed version: https://codesandbox.io/s/dazzling-elion-38lhq?file=/src/app/app.module.ts

P.S. Since v4 there were a lot of bugs fixed later so you should consider migrating to at least v6 that will work with Angular v8+.

[2020-09-03 05:05] chriswhite199 commented on #278
Seems to work for me with 7.0.1, both via `ng serve --aot` and with `ng build --prod --aot --optimization`

[2020-09-03 06:15] gund commented on #278
Thanks for the confirmation. I will close this issue.
Please open a new one if you have any problems with it.

[2020-09-03 06:15] #278 closed

[2020-09-10 09:27] L-X-T commented on #377
Same issue. Also using the no-barrels. Problem only occurs when using ng build not on ng serve. We use @nrwl.

[2020-09-10 17:56] astone2014 commented on #134
I'm having this same issue with `ng-dynamic-component@7.0.2-no-barrels.2`.
I have `DynamicModule` in my `AppModule` imports.

`ndcDynamicInputs` and `ndcDynamicOutputs` works fine. but not `ndcDynamicAttributes`.

`error NG8002: Can't bind to 'ndcDynamicAttributes' since it isn't a known property of 'ndc-dynamic'.`

[2020-09-10 18:10] gund commented on #134
For attributes to work you should import specific module `DynamicAttributesModule`.

It was changed since v7.
Please see chagelogs or readme for full list of changes.

[2020-09-10 18:14] astone2014 commented on #134
@gund you're the man. Thanks!

[2020-09-20 09:46] 93Alliance commented on #373
Try https://github.com/93Alliance/ngx-dyncmp

[2020-10-14 11:35] Jrubzjeknf opened #403 "ngOnChanges produces changes for every input, even when the objects are unchanged."
Problem: `ngOnChanges` seems to always provide all inputs in the SimpleChanges object, even though some inputs are unchanged. Correct behavior would be that only the changed inputs are provided, similar to the Angular implementation.

Repro steps:
- Open [stackblitz](https://stackblitz.com/edit/angular-ivy-bdrnl1?file=src/app/app.component.html)
- Click on `val1` button, which changes the `someVal

[2020-10-14 12:19] gund commented on #403
Thanks for reporting this issue!
It does look like it's creating changes for unchanged inputs which is super weird as it did not do it before...

I will investigate what is the cause and fix it soon.

[2020-10-14 13:05] gund commented on #403
Okay so after my investigation I figured out that this is a regression in Angular's `KeyValueDiffer` Service that this library uses in order to figure out the changes in inputs - it basically reports all properties to be changed even if just one property in object was changed...

I'm not sure if this was a change by design or a regression in Angular so I'm going to open an issue there and ask for

[2020-10-14 13:39] gund commented on #403
During deeper investigation is turns out that Angular's differ works fine and library was using incorrect API to collect changes from it.

Currently new records are collected from `forEachAddedItem()` method and changed records from `forEachItem()` method which always returns all items despite any changes (which is logical).
See: https://github.com/gund/ng-dynamic-component/blob/a4dd16067907df6b97

[2020-10-14 14:48] Jrubzjeknf commented on #403
Thanks for your quick investigation and solution! Awesome to see that this package is so well supported. 😊

Will the change also be pushed to the `@no-barrels` tag? Apparently I need the package from that tag to build with Ivy.

[2020-10-14 15:00] #403 closed

[2020-10-14 15:03] gund commented on #403
:tada: This issue has been resolved in version 7.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/7.0.2)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v7.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-23 19:49] willyboy opened #408 "ERROR in Error: Internal error: unknown identifier undefined"
Hi,
When trying to build with AOT, I receive the following error
[code]

## Command run
[code]
## Library version
[code]
## App code
Note! issues exists simply by referencing import {} from 'ng-dynamic-component' even if it doesn't import anything.
[code]

Happy to drop a PR if you have an idea of what's causing this.

[2020-10-23 19:51] willyboy commented on #408
Ooops, I missed this one https://github.com/gund/ng-dynamic-component/issues/377

[2020-10-23 19:51] #408 closed

[2020-10-23 19:53] willyboy commented on #377
@gund I provided a reproduction here https://github.com/gund/ng-dynamic-component/issues/408
We are also using @nrwl but I doubt that's the cause because I think ng build bypasses nrwl build commands.

[2020-10-23 19:58] willyboy commented on #377
@L-X-T do you have ivy disabled? We do and it seems like with Ivy enabled there isn't an issue.

[2020-11-06 13:00] omnibrain commented on #373
I'm having the same problem, and using the 7.0.2-no-barrels.2 version fixes it as well

[2020-11-10 09:17] Jrubzjeknf commented on #373
`npm i ng-dynamic-component@no-barrels`

Perhaps no-barrels should be the main line?

[2020-11-10 10:10] Jrubzjeknf opened #414 "Input and Output typings based on the component"
This is more of a post for helping other developers with their input and output typing. As we all know, Typescript's typing helps developers by preventing mistakes. I don't think the library has typings that helps the developer, so I created them myself.

Result:
![image](https://user-images.githubusercontent.com/29485424/98659830-d39d9400-2344-11eb-8cd0-ed98aea08c0c.png)
![image](https://user-ima

[2020-11-10 11:17] gund commented on #414
Hi, thanks for a great typings.

There is just one thing about inputs - they are not 100% correct as its based on type information only and inputs may be functions (which you excluded here).

Outputs however is more accurate since it's type is distinct from everything else.

I still would like to consider adding these types to the library as a helper types.

But I would not want to type with them

[2020-11-10 12:58] Jrubzjeknf commented on #414
Correct. It is (afaik) currently impossible to detect inputs based on the Input directive. Instead all properties must be used. It just excludes EventEmitters, since they are outputs, and functions, since it is not possible to make a distinction between a function property or a class method. I removed excluded methods, because they are more likely to be class methods than actual inputs. And in my

[2020-11-10 14:59] gund commented on #373
Just to clarify is this issue also happening in the applications not just libraries?

[2020-11-24 23:12] elubinenaptive opened #419 "can't get directives to render"
I am on v6.1.1 with angular 9.

from a component, I query some HTML from my server that needs to render on my page. The HTML includes some angular components.

I am trying to use ng-dynamic to load this html into a Render component which then should display the html on the page and dynamically also create the needed components. I think I need to pass in ndcDynamicDirectives for each special compon

[2020-11-24 23:22] gund commented on #419
If I understood correctly you want to render angular components as just html tags on se server and then paste them into the page?

If yes then this is not the library for it. You most likely need to use web components.

You can check [Angular Elements](https://angular.io/guide/elements) to learn how you can convert your angular components into native web components.

[2020-11-24 23:24] elubinenaptive commented on #419
no, sorry, wasn't clear... i want to query a component's template from my server. i want them to render in normal angular style.

<h1>hello</h1>

but it will also contain some custom elements

<my-element>hello</my-element>

[2020-11-25 01:04] elubinenaptive commented on #419
seems like I'm confusing topics here... sorry. I thought I might need the Experimental Directives in order to render other components within the dynamically loaded component. But if not, then how do i get the dynamically loaded component to render other components like <my-element>?

`<ndc-dynamic [ndcDynamicComponent]="component" [ndcDynamicInputs]="{content:content}"></ndc-dynamic>`

[code]

[2020-11-25 16:02] gund commented on #419
As you might know you cannot get random HTML from anywhere and just render it in your Angular Components.
And this library is not for that purpose either.
What you want to do can be solved via Web Components so you should check them out.

I will close this issue as it is irrelevant to this library.

[2020-11-25 16:02] #419 closed

[2020-12-10 17:07] ChiaraDipi opened #421 "Don't know how to import DynamicAttributesModule"
Hi, I'm using version 8.0.0 with angular 11.
In README you don't indicate how to import `DynamicAttributesModule`.
If I use follow the suggestion of my editor it is imported like this:
[code]
but when I start the application I get this error:
[code]

Can you help me?

[2020-12-10 18:02] #421 closed

[2020-12-10 18:03] ChiaraDipi commented on #421
Nevermind... it was a problem with my editor. It probably had an old reference of the lib.

[2020-12-23 21:36] b348 opened #425 "DynamicModule.withComponents"
Hey,

I used the following lines:
[code]

Each of these Modules have a custom @ typescript decorator:

[code]

This custom decorator will be executed automatically because of "withComponents" (without withComponents it wont be executed in some way by withComponents). The decorator add some data to an array in a custom service (that is exported public) to "register" all my dynamic components. But n

[2020-12-24 00:43] gund commented on #425
Hi, so the static method `withComponents()` was removed to not force every dynamic component to be loaded even when they are not used/needed and to allow lazy loading to be controlled by the developer instead of the library.

Now the decorators will be always executed as long as the code of component is loaded withing the bundle.

If they are not executed it simply means that you haven't loaded th

[2020-12-25 09:30] b348 commented on #425
Okay all right, got it, thank you very much!

[2020-12-25 09:30] #425 closed

[2021-01-14 09:45] ajafff opened #428 "ndcDynamicOutputs: thisArg of handler"
Angular Version: 11.0.9
ng-dynamic-component: 8.0.0

https://stackblitz.com/edit/angular-ivy-jdgusx?file=src/app/app.component.html

The `handler` of `ndcDynamicOutputs` is called without a `thisArg`. In the example above that means clicking the button calls `onClick` without a `this` reference and `this.clicked` inside fails with an exception.
This was surprising to me.

I know that I can declare

[2021-01-14 09:57] ajafff opened #429 "ndcDynamicOutputs: call markForCheck after handler is called"
Angular Version: 11.0.9
ng-dynamic-component: 8.0.0

https://stackblitz.com/edit/angular-ivy-bky9qc?file=src/app/app.component.ts

The example uses `ChangeDetectionStrategy.OnPush`. The dynamic component emits the `valueChange` event async after `ngOnInit`. The `handleValueChange` handler is called correctly, but `AppComponent` is not marked for check, therefore the initial value is not displayed.

[2021-01-15 11:44] gund commented on #428
Hi @ajafff, thanks for reporting this.
I am well aware of it and in fact already started a work in progress to address context issue in a branch
https://github.com/gund/ng-dynamic-component/blob/8d4459314d29d9c530e030db97f007e5c79c3fe3/projects/ng-dynamic-component/src/lib/io/io.service.ts#L344-L346

Basically the idea is to use DI token to provide a context for outputs:
- There is a static (globa

[2021-01-15 11:48] gund commented on #428
Also I did not know that you can use `this` in Angular template and it will actually work, so maybe I can add an option to provide context straight from template like `[ouptuts]="{ output: { handler: handlerFn, context: this } }"`.
The name though must be `context` to be in line with the rest of context DI providers functionality.

[2021-01-15 11:51] gund commented on #429
Hey @ajafff, thanks for great examples.

Yes this seems reasonable and somehow I did not pay attention to this fact although knew about it as well.

This should be an easy fix actually, so if you want to submit a PR I would be happy to accept it =)

[2021-01-16 11:42] #429 closed

[2021-01-16 11:44] gund commented on #429
:tada: This issue has been resolved in version 8.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/8.0.1)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v8.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-16 14:05] ajafff commented on #428
If you don't mind tapping into undocumented Angular internals, you don't need all the injection tokens and instead look up the context if not explicitly provided by the user.
Here's how you get the context from a directive:

[code]

I wrote this little test app, that prints to the console, whether the determined context matches the actual context (which is passed via Input binding). I added all ki

[2021-01-16 16:29] gund commented on #428
This is the reason I do not want to built it in the lib - because if this implementation details change at any point (even between minor updates) it will break.

That's why I want to provide extension point to implement context strategy by users directly so they have full control over it.

And this approach can be easily implemented globally on app level by providing `IoEventContextProviderToken`

[2021-01-25 13:21] KissBalazs opened #431 "no-barrels tag not working: ERROR in Unexpected value 'undefined' imported by the module 'DynamicModule"
I experience the problem described in the pinned issue: https://github.com/gund/ng-dynamic-component/issues/369

After following the guide, and changing the dependency  from `    "ng-dynamic-component": "^6.1.0",` to `    "ng-dynamic-component": "^8.0.1-no-barrels.1",
` I still encounter the said problem.

Error message upon `ng serve`:
[code]
node_modules/ng-dynamic-component/package.json:
[code]

[2021-02-04 15:43] shadowmax31 commented on #373
I had the same issue, where everything works, but I have the error message mentioned in the title in my IDE (VSCode)

I don't think it's an issue with the project, because it compiles and runs fine, the error is only showing up in the IDE not during execution or when I compile. Maybe it's a problem with TSLint?

**Installing the no-barrels version did solve the issue for me.**

I suggest that this

[2021-03-12 15:56] ardentia commented on #431
+1 for this persisting issue. I thought it might be due to npm cache, so after a clean npm install with `"ng-dynamic-component": "^8.0.1-no-barrels.1"`, I now get:
`
Error: Error: Internal error: unknown identifier undefined
    at Object.importExpr$1 [as importExpr] (<project-dir>\node_modules\@angular\compiler\bundles\compiler.umd.js:28399:27)
    at tokenExpr (<project-dir>\node_modules\@angula

[2021-03-12 16:30] samuil4 commented on #431
+1 same error upgrading from `"ng-dynamic-component": "6.1.1-no-barrels.2"`

[2021-03-12 17:37] gund commented on #431
This is super strange.

Could it be because you are upgrading from older version of Angular as well?

If so I would recommend trying to delete package lock file (either package-lock.json or yarn.lock) and trying to install again.

[2021-03-13 16:50] ardentia commented on #431
I am using Angular 11, updated from Angular 8. Deleted node_modules and package-lock.json, cleared the npm cache, reinstalled everything and got the "unknown identifier undefined" error. These are my dependencies:
[code]

[2021-04-30 16:01] rrekapalli commented on #431
Hi there,

Facing the same issues with Angular 11.0.9

Unexpected value 'undefined' imported by the module 'DynamicModule in ../node_modules/ng-dynamic-component/ng-dynamic-component.d.ts'

Deleted package-lock.js & deleted node_modules and re-installed. No luck!

[2021-05-25 08:50] TokkeDev opened #454 "Angular 12 support"
With the release of Angular 12, it'd be lovely to see official support from ng-dynamic-component 👌

[2021-05-25 10:28] gund commented on #454
Sure, the update will come soon.

Out of curiosity - does the latest version still work with Angular v12?

[2021-06-09 15:27] ameza opened #456 "Maximum call stack size exceeded angular 10"
I get the above error when the package is added to an angular 10 project, no other details are provided, the site compiles fine if the package usage is removed

[2021-06-09 20:04] gund commented on #456
Hey, I would need more that this to be able to help you.
At least versions used and stack straces and ideally reproduction in online sandboxe like stackblitz.

[2021-07-06 08:50] TokkeDev commented on #454
Sorry for the late reply, @gund. Yes, everything seems to be working just fine as of Angular 12.1.1 👌

[2021-07-29 17:52] alexiadorneles opened #460 "Maximum call stack size exceeded in library project"
Hello,

I am currently using this package inside my library project. The configuration is the following:

Angular: 11
Builder: ng-packagr
ng-dynamic-component: ^8.0.1

When I try to build my library I am receiving the error: `Maximum call stack size exceeded`. If I remove the ng-dynamic-component imports from my files and modules, the build works properly. An example of imports I have on my projec

[2021-07-29 17:53] alexiadorneles commented on #456
Hi @gund I am facing a similar issue, I described exactly what's happening here: https://github.com/gund/ng-dynamic-component/issues/460

[2021-07-29 18:08] nailtonvieira commented on #460
Same problem here @alexiadorneles

Angular CLI: 11.2.14
Node: 14.17.3
OS: darwin x64

Angular: 11.2.14
... animations, cli, common, compiler, compiler-cli, core, forms
... language-service, localize, platform-browser
... platform-browser-dynamic, router
Ivy Workspace: Yes

Package                         Version
---------------------------------------------------------
@angular-devkit/architect

[2021-08-01 10:07] edbzn commented on #454
Hi @gound, any plan to support Angular 12 in the near future? We are depending on `ng-dynamic-component` in our package [`@jscutlery/cypress-mount`](https://github.com/jscutlery/test-utils/tree/main/packages/cypress-mount) and this causes an issue with Angular 12 due to the outdated peer deps:

[code]

[2021-09-16 21:33] edbzn commented on #454
I assume this project is dead. :cry:

[2021-10-04 15:26] TheCelavi commented on #454
Hello, is there any reason why there is no activity for this issue? Do you need a PR which would bump dependencies?

[2021-10-05 12:28] edbzn commented on #454
We are planning to fork this project to overcome this.

[2021-10-05 13:34] TheCelavi commented on #454
We are forking it too. There is a PR pending for this, ignored for long time. Is this project abandoned? Can someone take it over?

[2021-10-07 08:52] TheCelavi opened #461 "Is this project abandoned?"
Does anyone knows if this project is abandoned?

[2021-11-03 08:46] th0r commented on #461
Have the same question. Does anyone know of any alternative?

[2021-11-03 08:53] TheCelavi commented on #461
We have a fork that we use inside company: https://github.com/evermed/ng-dynamic-component

We are not happy about this, we didn't setup auto deploy and testing of component, as we still hope that this project will continue its development.

We will maintain fork until someone from this project with admin privileges provide us with info what is happening with this project.

Either way - this is aw

[2021-11-17 18:38] sandyeveliz commented on #389
I have an app with Angular version in 8, and i upgrade to v6 and works, v5 throw the error

[2021-12-01 07:44] gund commented on #461
Hey folks! I'm sorry for not being active recently as I was dealing with some other stuff offline.
Now that I'm back I will take care of the latest issues and upgrade it for latest Angular.
Cheers!

[2021-12-01 07:44] #461 closed

[2021-12-01 07:45] gund commented on #454
Hi all!
Sorry for a delay but finally I'm back and will be able to update the peer deps soon!

[2021-12-01 12:38] #454 closed

[2021-12-01 12:50] edbzn commented on #454
Hi @gund, great to see you alive. Would be great to migrate to ng 13 also.

[2021-12-01 12:56] gund commented on #454
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/9.0.0)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-01 12:58] gund commented on #454
Hey @edbzn, yes I will release updates in 2 steps - one for v12 and then for v13 =)

[2021-12-01 14:22] gund commented on #454
Support for Angular v13 is out now as well!

[2021-12-03 20:45] Yago-Ferrer opened #466 "Question about dynamic templates"
This is a fantastic project! I was wondering if it's possible to create a MyDynamicComponent1 programmatically so that I can have a custom template as well.
Thanks!

[2021-12-03 22:32] gund commented on #466
Hey there!

I don't think you can create templates dynamically as any component must be compiled by angular at build time.

And since ivy all angular apps don't ship jit compiler so you cannot compiler templates dynamically at runtime.

[2021-12-16 14:22] martibenn opened #467 "Support RxJS ^7.4.0"
Since Angular support RxJS `^7.4.0` with `@angular/common@13.1.X`, would it be possible to upgrade ng-dynamic-component peer dependency on @angular/common and RxJS ?

Angular RxJS version : https://unpkg.com/browse/@angular/core@13.1.1/package.json
![2021-12-16-15-21-01](https://user-images.githubusercontent.com/60661999/146389125-25948da1-dc53-43e0-9fc6-e8af5b322b08.png)

ng-dynamic-component RxJ

[2021-12-16 15:09] martibenn commented on #467
Seems `peerDependencies` on `@angular/common` is the culprit :
https://github.com/gund/ng-dynamic-component/blob/4bb0ed2b3fa88197a9bfe9b0edb95160f1015214/projects/ng-dynamic-component/package.json#L21

![npm](https://user-images.githubusercontent.com/60661999/146396203-ae442a0c-4a22-462f-bc68-e74d8014a614.png)

[2021-12-16 22:52] gund commented on #467
Hey @martibenn, thanks for the suggestion!
Yes we can add support for rxjs v7 to peer deps!
And we do not need to do any changes to angular deps as it allows any v13 version.

[2021-12-17 00:03] #467 closed

[2021-12-17 00:06] gund commented on #467
:tada: This issue has been resolved in version 10.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/10.1.0)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v10.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-21 21:09] Yago-Ferrer commented on #466
Thank you for your answer @gund. I was not able to find anything useful. I'm using Vue at the moment, but ideal but it works.

[2021-12-24 11:59] #466 closed

[2022-02-08 17:08] roopeshreddy commented on #460
Same issue with Angular v12 and v9  as per the docs.

[2022-02-14 08:26] Jrubzjeknf commented on #414
I realize I never responded to this.

Yes, I think that's a good idea. :)

[2022-02-16 11:39] gund commented on #460
If you are facing this you can switch to `no-barrels` NPM tag, see https://github.com/gund/ng-dynamic-component/issues/369

[2022-02-16 11:39] #460 closed

[2022-05-20 20:09] roopeshreddy commented on #460
Unfortunately, this issue is still exists with barrel on Angular v12 Library!

**ng-dynamic-component@10.1.1-no-barrels.1**

[2022-06-14 12:02] stijnvn opened #469 "Support for Angular 14"
Can you update ng-dynamic-component to support Angular 14?

[2022-06-14 13:59] gund commented on #469
Yes, however the current version should also work just fine with angular v14. Did you try to use it?

[2022-06-14 14:20] stijnvn commented on #469
I have got an npm error that it was not compatible with Angular 14.

[2022-06-15 06:40] stijnvn commented on #469
I guess you should just update the dependency on Angular

[code]

[2022-06-15 13:33] gund commented on #469
:tada: This issue has been resolved in version 10.2.0-next.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/10.2.0-next.1)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v10.2.0-next.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-15 13:43] gund commented on #469
@stijnvn could you please try to install version `10.2.0-next.1` and see if the problem is solved?
Once it's confirmed I will release it as latest.

[2022-06-16 12:46] DexterIA opened #472 "Need add rxjs 7 support for version 9.x.x"
https://github.com/gund/ng-dynamic-component/blob/64c799b716cf75b189b941fedb2f4be663260fbc/projects/ng-dynamic-component/package.json#L23

I suggest change this to _"rxjs": "^6.0.0 | ^7.0.0"_
ng-dynamic-component should have no problem working on rxjs 7
Angular 12 currently support rxjs 7, but ng-dynamic-component blocks update rxjs up to 7 version.

[2022-06-16 13:20] gund commented on #472
Yes I think at the time when v9 was release there probably was no rxjs v7 yet.

But you should have no problem using rxjs v7 even with v9, just disable NPM from checking peer dependencies (either via `--legacy-peer-deps` or `--force`) and install rxjs v7 manually.
Ideally you could just update the lib to v10 which includes rxjs v7.

But I'm not planning on maintaining previous major versions which

[2022-06-16 13:20] #472 closed

[2022-06-16 13:26] DexterIA commented on #472
Ok, I understand you.

Unfortunately, v10 does not work with angular 12.  And I can't update up to 13, because we need support IE =(

[2022-06-16 13:35] DexterIA commented on #472
@gund does v10 could work with angular 12? I try and got error in runtime, when create component.
Here https://github.com/gund/ng-dynamic-component/blob/v10.2.0-next.1/projects/ng-dynamic-component/src/lib/dynamic.component.ts#L67

Angular 12 have another signature of this method.

[2022-06-16 13:39] gund commented on #472
Oh yes, I forgot about that change, I will need to add backwards compatibility for that piece of code.
I'm going to release it under `next` tag so you could check it if it works or something else need backwards compatibility fixes.

[2022-06-16 13:48] DexterIA commented on #472
Great! Thank you very much

[2022-06-16 15:19] gund commented on #472
@DexterIA could you please give a try to `10.2.0-next.2` and see if this will work with Angular v12?

[2022-06-16 17:33] DexterIA commented on #472
@gund Yes, sure
Built and check in storybook, works great!

[2022-06-16 18:05] #469 closed

[2022-06-16 18:09] gund commented on #469
:tada: This issue has been resolved in version 10.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/10.2.0)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v10.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-16 18:14] gund commented on #472
This has been released on 10.2.0

[2022-06-16 20:28] DexterIA commented on #472
@gund
Something goes wrong...

I've got error when build app, after update to 10.2.0

[code]

Look's like it work only in Angular 14

Interesting, storybook build completes without errors and components work's fine.

[2022-06-16 21:59] gund commented on #472
Hmm that looks strange, this seems like a specific version check during a build time as there is no hard dependency on Angular v14 in the library.
Not really sure how to resolve this issue.

[2022-06-17 06:16] DexterIA commented on #472
[code]

[2022-06-17 16:48] gund commented on #472
Ok, from the [response from Angular team](https://github.com/angular/angular/issues/46398#issuecomment-1159020871) it is not supported to use library compiled with newer angular in the app that is using older angular version.

This basically means that you either need to upgrade your app to angular v14 or disable peer dependencies check and keep using v9.

[2022-06-17 16:58] DexterIA commented on #472
@gund
Yes, I understand.
I will wait update to Angular 13.

This crutch is not needed anymore
https://github.com/gund/ng-dynamic-component/blob/969aef95a293ff98869199d5ca4760ec08b1f4b7/projects/ng-dynamic-component/src/lib/dynamic.component.ts#L102

[2022-06-17 17:00] gund commented on #472
Yep, I just removed it from the latest release, thanks 😊

[2022-06-20 08:19] sotjdisc opened #473 "Building app with angular 13 leads to compile error"
./node_modules/ng-dynamic-component/fesm2015/ng-dynamic-component.mjs - Error: Module build failed (from ./node_modules/@angular-devkit/build-angular/src/babel/webpack-loader.js):
TypeError: Cannot create property 'message' on string 'Y:\inventory\inventory-web-ui\node_modules\ng-dynamic-component\fesm2015\ng-dynamic-component.mjs: This application depends upon a library published using Angular ve

[2022-06-20 14:13] sotjdisc commented on #473
The problem is that 10.1.0 is also somehow corrupt and needs Angular 14...

[2022-06-20 20:20] gund commented on #473
Yeah that's probably the reason, up until v14 there was an issue with the barrel exports so you are using correct version.
I will update the docs about compatibility with Angular v13 accordingly.

[2022-06-20 20:24] #473 closed

[2022-07-26 11:23] pelssersconsultancy opened #474 "Outputs initialized after inputs which leads to missed events triggered synchronously from constructors/setters"
Hi,

I created a little POC with ng-dynamic-component. I have a TicketDetailComponent which fetches some data and outputs it internal loading state by an event emitter. I can clearly see it emitting the correct loading state in line 34 of TicketDetailComponent.  In DashboardCardComponent I dynanmically add outputs to this dynamically instantiated component. However, the loading function (line 26)

[2022-07-26 22:25] gund commented on #474
Hey, thanks for providing reproduction repo - it was very useful to debug the issue!

I have found the problem and it lays down in a way you process input changes or rather using a setter instead of a `OnChanges` lifecycle hook =)

The reason setters don't work in your case is that inputs are set on dynamic components before the outputs are subscribed and if you know observables will miss any even

[2022-08-27 02:52] gund commented on #473
:tada: This issue has been resolved in version 10.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/10.3.0)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v10.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-28 01:26] gund commented on #369
Since the issue upstream was resolved I'm closing this one.
No more `@no-barrels` releases are planned and should not be necessary anymore.

[2022-08-28 01:26] #369 closed

[2022-08-28 01:28] gund commented on #209
I'm closing this issue as it's outdated and no fix is planned for it.
If you want to reopen the discussion please feel free to open a new issue.

[2022-08-28 01:28] #209 closed

[2022-08-28 01:33] gund commented on #225
Hey, not sure if it's relevant but since [v10.4.0](https://github.com/gund/ng-dynamic-component/releases/tag/v10.4.0) the `IoService` is now stable and part of public API.
I'm closing this issue as it's outdated.
If you want to reopen the discussion please feel free to open a new issue.

[2022-08-28 01:33] #225 closed

[2022-08-28 01:33] gund commented on #373
I'm closing this issue as it's outdated.
If you want to reopen the discussion please feel free to open a new issue.

[2022-08-28 01:33] #373 closed

[2022-08-28 01:33] gund commented on #377
I'm closing this issue as it's outdated.
If you want to reopen the discussion please feel free to open a new issue.

[2022-08-28 01:33] #377 closed

[2022-08-28 01:36] gund commented on #414
Hey, is there still any interest in this?
If not I will close the issue at some point in the future.

[2022-08-28 01:39] gund commented on #428
Since version [v10.4.0](https://github.com/gund/ng-dynamic-component/releases/tag/v10.4.0) it's now possible to set the context for output handlers.
I'm closing this issue as it's outdated.
If you want to reopen the discussion please feel free to open a new issue.

[2022-08-28 01:39] #428 closed

[2022-08-28 01:39] gund commented on #431
This should no longer be an issue with latest Angular and Ivy builds.
I'm closing this issue as it's outdated.
If you want to reopen the discussion please feel free to open a new issue.

[2022-08-28 01:39] #431 closed

[2022-08-28 01:40] gund commented on #456
I'm closing this issue as it's outdated.
If you want to reopen the discussion please feel free to open a new issue.

[2022-08-28 01:40] #456 closed

[2022-08-28 01:41] gund commented on #474
I'm closing this issue as it's outdated and no fix is planned for it.
If you want to reopen the discussion please feel free to open a new issue.

[2022-08-28 01:41] #474 closed

[2022-09-01 11:00] menelai opened #480 "Cannot access 'IoService' before initialization"
Uncaught ReferenceError: Cannot access 'IoService' before initialization

/node_modules/ng-dynamic-component/fesm2015/ng-dynamic-component.mjs
/node_modules/ng-dynamic-component/fesm2020/ng-dynamic-component.mjs

Both on line 31

[2022-09-01 13:48] gund commented on #480
Hey, what version of the lib and Angular are you using?
Also would be nice to have a repro repo online on stackblitz.

[2022-09-01 13:56] gund commented on #480
Ok I've [created a demo](https://stackblitz.com/edit/ndc-dynamic-component-example?file=src%2Fapp%2Fapp.component.ts) myself and can reproduce the issue too.
Seems like a bug indeed.

[2022-09-01 13:58] menelai commented on #480
I use v 14.2.
Here is stackblitz:
https://stackblitz.com/edit/angular-ivy-wzah9d

[2022-09-01 14:09] viacheslavsaloid commented on #480
The same for me.

Angular: 14.1.3

It works fine on 10.3.1
But broken on 10.5.0

[2022-09-01 14:26] gund commented on #480
:tada: This issue has been resolved in version 10.5.1-next.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/10.5.1-next.1)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v10.5.1-next.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-01 14:30] gund commented on #480
Could you please try the next version and let me know if it works?
For some reason stackblitz cannot resolve latest next version...

[2022-09-01 15:51] gund commented on #480
Ok, I was able to verify this on stackblitz and it's fixed on next, so I will go ahead and release it on latest tag.

[2022-09-01 16:21] #480 closed

[2022-09-01 16:24] gund commented on #480
:tada: This issue has been resolved in version 10.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ng-dynamic-component/v/10.5.1)
- [GitHub release](https://github.com/gund/ng-dynamic-component/releases/tag/v10.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-27 15:53] muhamedkarajic opened #486 "[Bug]"
Today we have been using the new version 10.5.0 and it seems like it requies angular cli 14 and above. Which kind of dosent make sence due to the fact that that was only a minor update.

Please if possible revert those changes cause in my company we use a lot of libraries (our own) which internally depend on that one.

[2022-09-27 23:46] gund commented on #473
@willyboy it's still there just hidden inside of a collapsible element:
<img width="676" alt="image" src="https://user-images.githubusercontent.com/3644678/192656752-3f3d54d7-0044-434f-9130-b08a5f3fd5b7.png">

[2022-09-27 23:53] gund commented on #486
Hey, yes a just from Angular 13 to 14 was done in a minor update because initially we planned to support both versions in the same major but it turned out that the Angular compiler does not support forward compatibility even between minors (which I [opened an issue about](https://github.com/angular/angular/issues/46398) to clarify and they are explicitly do not guarantee this).

Unfortunately reve

[2022-09-27 23:53] #486 closed

[2022-10-12 09:41] sanket-thotange opened #487 "[Question] How to call functions mentioned in dynamic components"
I am trying to call function named 'autoRefreshData' traversing through all the components.
So I have an array of components which are stored in components variable.

`
this.components.forEach((c)=> c.inputs.until = new Date())
`
This way I was able to change the inputs, but how to call method/functions from dynamic components?

[2022-10-12 10:24] sanket-thotange commented on #487
I figured it out

`@ViewChildren('dynamicComponents') dc: any;`

`dc._results.forEach((c)=> c.componentRef.instance.autoRefreshData());`

[2022-10-12 13:55] gund commented on #487
Yes that's one way to do it, and also if you are rendering components via `ndc-dynamic` component then you can use it's output
`ndcDynamicCreated` to get `ComponentRef` instance and call it's method.